<%= render layout: 'layouts/better_together/host_nav' do %>
  <% content_for :page_title do %>
    <%= t('better_together.platform_connections.edit.title') %>
  <% end %>

  <div class="container my-3">
    <h1><%= t('better_together.platform_connections.edit.title') %></h1>
    <%= render 'form', platform_connection: @platform_connection %>
  </div>
<% end %>
