<%= render layout: 'layouts/better_together/host_nav' do %>
  <% content_for :page_title do %>
    Edit Platform Connection
  <% end %>

  <div class="container my-3">
    <h1>Edit Platform Connection</h1>
    <%= render 'form', platform_connection: @platform_connection %>
  </div>
<% end %>
