<%= render layout: 'layouts/better_together/host_nav' do %>
  <% content_for :page_title do %>
    New Platform Connection
  <% end %>

  <div class="container my-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>New Platform Connection</h1>
      <%= link_to 'Back', better_together.platform_connections_path, class: 'btn btn-outline-secondary' %>
    </div>

    <%= render 'form', platform_connection: @platform_connection %>
  </div>
<% end %>
