
<% content_for :page_title do %>
  <%= t('globals.edit') %> <%= @page.title %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container-fluid my-3">
  <div class="row">
    <div class="col">
      <h1>Edit Page</h1>
      <%= render 'form', page: @page %>
    </div>
  </div>
</div>
