<%# locals: (block:, scope: BetterTogether::Content::Block.block_name, temp_id: SecureRandom.uuid) -%>
<%- temp_id = temp_id_for(block, temp_id:) %>
<div class="communities-block-fields">
  <%= render partial: 'better_together/content/blocks/fields/shared/resource_block_fields',
             locals: { block:, scope:, temp_id: } %>
</div>
