
<%- scope = local_assigns[:scope] ? local_assigns[:scope] : BetterTogether::Content::Block.block_name %>
<div class="template-fields">
  <%= required_label block, :html_content %>
  <%= text_area_tag "#{scope}[html_content]", block.html_content, class: 'form-control' %>
</div>
