<%# locals: (block:, scope: BetterTogether::Content::Block.block_name, temp_id: SecureRandom.uuid) -%>
<%- temp_id = temp_id_for(block, temp_id:) %>
<div class="quote-block-fields">
  <%= render partial: 'better_together/content/blocks/fields/shared/translatable_text_field',
             locals: { model: block, scope: scope, temp_id: temp_id, attribute: 'quote_text', rows: 4,
                       help_text: 'The quote content' } %>

  <%= render partial: 'better_together/content/blocks/fields/shared/translatable_string_field',
             locals: { model: block, scope: scope, temp_id: temp_id, attribute: 'attribution_name',
                       help_text: 'Person or source name' } %>

  <div class="row row-cols-1 row-cols-sm-2 mb-3">
    <div class="col mb-3">
      <%= render partial: 'better_together/content/blocks/fields/shared/translatable_string_field',
                 locals: { model: block, scope: scope, temp_id: temp_id, attribute: 'attribution_title',
                           help_text: 'Title / Role (optional)' } %>
    </div>
    <div class="col mb-3">
      <%= render partial: 'better_together/content/blocks/fields/shared/translatable_string_field',
                 locals: { model: block, scope: scope, temp_id: temp_id, attribute: 'attribution_organization',
                           help_text: 'Organization (optional)' } %>
    </div>
  </div>
</div>
