<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
 <%= render partial: 'better_together/categories/category', collection: @categories %>
</div>

<%= link_to "New topic", new_topic_path %>
