<%= form_with(model: person_platform_membership) do |form| %>
  <% if person_platform_membership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person_platform_membership.errors.count, "error") %> prohibited this person_platform_membership from being saved:</h2>

      <ul>
        <% person_platform_membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
