<div class="d-flex justify-content-between align-items-center mb-4">
  <h1><%= t('person_platform_memberships.index.title', platform: @platform.name) %></h1>
  <div>
    <% if policy(BetterTogether::PersonPlatformMembership.new).new? %>
      <%= link_to t('person_platform_memberships.index.new_membership'), new_platform_person_platform_membership_path(@platform), class: "btn btn-primary" %>
    <% end %>
    <%= link_to t('actions.back_to_platform'), @platform, class: "btn btn-secondary" %>
  </div>
</div>

<div id="platform_members_list">
  <%= render partial: 'better_together/person_platform_memberships/members_list', locals: { platform: @platform, memberships: @person_platform_memberships } %>
</div>
