<h1>New person platform membership</h1>

<div id="form_errors"></div>
<%= render "form", person_platform_membership: @person_platform_membership %>

<br>

<div>
  <%= link_to "Back to person platform memberships", person_platform_memberships_path %>
</div>
