
volumes:
  community-engine-bundler-gems:
  community-engine-db-data:
  community-engine-elasticsearch:
  community-engine-redis:

x-env-info: &env-info
  env_file:
    - './.env'
    - './.env.dev'

x-app-shared: &app-shared
  <<: *env-info
  image: better-together/community-engine-rails:dev
  volumes:
    - .:/community-engine
    # - ../pundit-resources:/pundit-resources
    - community-engine-bundler-gems:/usr/local/bundle/
  depends_on:
    - db
    - redis
    - elasticsearch

services:
  app: &app
    <<: *app-shared
    container_name: community-engine-app
    build: # "context" and "dockerfile" fields have to be under "build"
      context: .
      dockerfile: ./Dockerfile.dev
    command: bash -c "rm -f spec/dummy/tmp/pids/server.pid && cd ./spec/dummy && bundle exec rails s -p 3000 -b '0.0.0.0'"
    ports:
      - "3000:3000"
    tty: true
    stdin_open: true
  db:
    <<: *env-info
    container_name: community-engine-db
    image: imresamu/postgis:17-recent
    volumes:
      - community-engine-db-data:/var/lib/postgresql/data
    ports:
      - "5440:5432"
    env_file:
    - './.env.db.dev'

  elasticsearch:
    container_name: community-engine-elasticsearch
    image: elasticsearch:7.17.23
    environment:
      - node.name=elasticsearch
      - cluster.name=community-engine-es
      - discovery.seed_hosts=elasticsearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9200:9200
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - community-engine-elasticsearch:/usr/share/elasticsearch/data

  sidekiq:
    <<: *app-shared
    container_name: community-engine-sidekiq
    command: bash -c "rm -f spec/dummy/tmp/pids/server.pid && cd ./spec/dummy && bundle exec sidekiq -C config/sidekiq.yml"
    depends_on:
      - app

  redis:
    image: 'redis:7.2-alpine'
    container_name: community-engine-redis
    command: redis-server
    volumes:
      - community-engine-redis:/data

  mail-server:
    image: mailhog/mailhog
    container_name: community-engine-smtp
    ports:
      - '1025:1025'
      - '8025:8025'
