<% content_for :title, t('.title') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0"><%= t('.title') %></h1>
        
        <div class="btn-group" role="group">
          <%= link_to t('.invite_member'), 
                      new_event_event_invitation_path(@event), 
                      class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('.pending_invitations') %></h5>
        </div>
        <div class="card-body">
          <div id="invitations_table">
            <%= render 'invitations_table' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>