default: &default
  url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379' %>
  queues:
    - default
    - mailers
    - metrics
    - maintenance
    - es_indexing
    - geocoding
    - notifications

development:
  <<: *default
  verbose: true

test:
  <<: *default

production:
  <<: *default