<!-- app/views/better_together/navigation_items/_navigation_item.html.erb -->

<%# locals: (navigation_item:, level: 0) %>

<% if navigation_item.visible? %>
  <li class="nav-item <%= 'dropdown' if navigation_item.children? %>">
    <%= link_to navigation_item.title, navigation_item.url,
                class: nav_link_classes(navigation_item, path: params[:path] || url_for(controller: params[:controller], action: params[:action])),
                id: dropdown_id(navigation_item),
                role: dropdown_role(navigation_item),
                data: dropdown_data_attributes(navigation_item) %>

    <% if navigation_item.children? %>
      <%= render partial: 'better_together/navigation_items/navigation_dropdown_items',
                locals: { navigation_item:, level: level += 1} %>
    <% end %>
  </li>
<% end %>
