<!-- app/views/better_together/navigation_items/_navigation_item.html.erb -->

<li class="nav-item <%= 'dropdown' if navigation_item.dropdown? %>">
  <% if navigation_item.dropdown? %>
    <%= link_to navigation_item.title, navigation_item.url, class: "nav-link dropdown-toggle", id: navigation_item.slug, role: "button", data: { 'bs-toggle' => "dropdown", 'aria-expanded' => "false" } %>
    <%= render 'better_together/navigation_items/navigation_dropdown_items', navigation_item: navigation_item %>
  <% else %>
    <%= link_to navigation_item.title, navigation_item.url, class: "nav-link" %>
  <% end %>
</li>
