<!-- app/views/better_together/navigation_items/_navigation_dropdown_item.html.erb -->

<%# locals: (navigation_item:, level: 0) %>

<% if navigation_item_visible_for?(navigation_item) %>
  <li id="<%= dom_id(navigation_item) %>">
    <%= link_to navigation_item.title, sanitize_url(navigation_item.url), class: "dropdown-item", data: { identifier: navigation_item.identifier } %>
  </li>
<% end %>
