<!-- app/views/better_together/navigation_items/edit.html.erb -->

<div class="container">
  <h1>Edit Navigation Item: <%= @navigation_item.title %></h1>

  <%= render 'form', navigation_area: @navigation_area, navigation_item: @navigation_item, pages: @pages %>

  <%= link_to 'Back to List', navigation_area_navigation_items_path(@navigation_area), class: 'btn btn-secondary' %>
</div>
