<!-- app/views/better_together/navigation_items/index.html.erb -->

<% content_for :page_title do %>
  Navigation Items for <%= @navigation_area.name %>
<% end %>

<div class="container my-3">
  <h1>Navigation Items for <%= @navigation_area.name %></h1>
  <%= link_to 'New Navigation Item', new_navigation_area_navigation_item_path(@navigation_area), class: 'btn btn-primary' %>

  <%= render partial: 'navigation_items_table', locals: { navigation_items: @navigation_items, navigation_area: @navigation_area } %>
</div>
