<% content_for :page_title do %>
  <%= t('better_together.joatu.requests.edit_request', default: 'Edit Request') %>
<% end %>

<div class="container my-3">
  <h1><%= t('better_together.joatu.requests.edit_request', default: 'Edit Request') %></h1>

  <%= render 'form', joatu_request: @joatu_request %>
</div>
