<div class="container py-4">
  <h1 class="h3 mb-4"><%= t('better_together.feature_access_grants.new.title', default: 'New Feature Access Grant') %></h1>
  <%= render 'form', platform: @platform, feature_access_grant: @feature_access_grant %>
</div>
