<% if block.pages.any? %>
  <div class="my-3">
    <h5><%= t('better_together.content.blocks.associated_pages', default: 'Associated Pages') %></h5>
    <%= safe_join(block.pages.map { |page| link_to page }, ', ') %>
  </div>
<% else %>
  <p>No associated pages for this block.</p>
<% end %>
