<%
  communities = resource_block_collection(
    communities_block,
    BetterTogether::Community,
    extra_scope: ->(s) { s.order(created_at: :desc) }
  )
  cache_key = [communities_block, communities_block.community_scope_id,
               BetterTogether::Community.maximum(:updated_at)&.to_i,
               BetterTogether::Community.count,
               I18n.locale]
%>
<%= render layout: 'better_together/content/blocks/block', locals: { block: communities_block } do %>
  <%= cache cache_key do %>
    <div class="communities-block-collection row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <%= render(communities) || content_tag(:p, t('better_together.content.blocks.communities_block.empty',
                                                   default: 'No communities to display.')) %>
    </div>

    <% if communities_block.show_view_more? %>
      <div class="text-center mt-4">
        <%= link_to t('better_together.content.blocks.view_more', default: 'View all'),
                    communities_block.view_more_url, class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  <% end %>
<% end %>
