<%# app/views/better_together/content/blocks/index.html.erb %>

<div class="container mt-5">
  <h1 class="mb-4">Content Blocks</h1>

  <!-- Button to add a new block -->
  <div class="accordion accordion-flush my-3" id="new-block-choices">
    <div class="accordion-item">
      <h2 class="accordion-header" id="add-block-heading">
        <button class="accordion-button collapsed btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#available-block-types" aria-expanded="false" aria-controls="available-block-types">
          Add Block
        </button>
      </h2>
      <div id="available-block-types" class="accordion-collapse collapse" aria-labelledby="add-block-heading" data-bs-parent="#new-block-choices">
        <div class="accordion-body">
          <div class="row row-cols-4">
            <%= render partial: 'better_together/content/blocks/new/block', collection: BetterTogether::Content::Block.descendants, as: :block_type %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Block</th>
        <th scope="col">Type</th>
        <th scope="col">Pages</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @blocks.each do |block| %>
        <%= render partial: 'better_together/content/blocks/block_row', locals: { block: block } %>
      <% end %>
    </tbody>
  </table>
</div>
