<h1>Editing continent</h1>

<div id="form_errors"></div>
<%= render "form", geography_continent: @geography_continent %>

<br>

<div>
  <%= link_to "Show this continent", @geography_continent %> |
  <%= link_to "Back to continents", geography_continents_path %>
</div>
