<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col">
      
      <h1 id="accessibility-statement">Accessibility Statement</h1>

      <p>The team building Community Engine has set out to create discussion software that is free, open source, and accessible to all.</p>

      <p>To guide our ongoing effort to build accessible software we follow the <a href="https://www.w3.org/TR/WCAG21/">W3C’s Web Content Accessibility Guidelines (WCAG)</a>. Community Engine is regularly checked with automated accessibility tools, and additional manual review may be performed by the operator of a specific deployment.</p>

      <p>If you find a problem that makes it difficult for you to use Community Engine, contact the operator of the platform using the contact information published on that platform. When describing the problem, please include details about your web browser and any accessibility software you are using.</p>

    
    </div>
  </div>
</div>
