<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col">
      
      <h1 id="accessibility-statement">Accessibility Statement</h1>

      <p>The team building Community Engine has set out to create discussion software that is free, open source, and accessible to all.</p>

      <p>To guide our ongoing effort to build accessible software we follow the <a href="https://www.w3.org/TR/WCAG21/">W3C’s Web Content Accessibility Guidelines (WCAG)</a>. Community Engine has also undergone accessibility audits from automated accessibility tools and will one day ungergo accessibility audits form experts.</p>

      <p>If you find a problem that makes it difficult for you to use Community Engine, send an email to <a href="mailto:accessibility@bettertogethersolutions.com">accessibility@bettertogethersolutions.com</a>. When describing the problem please include details about your web browser and any accessibility software you are using.</p>

    
    </div>
  </div>
</div>