<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col">
      <h1 id="privacy-information">Privacy Information</h1>

      <p>This notice describes how <a href="https://bettertogethersolutions.com/">Better Together Solutions</a>, or Better Together for short, collects and uses personal information. This notice also provides information about the legal rights individuals have concerning their personal information and how you can exercise those rights.</p>

      <p>Jump to:</p>

      <ul>
        <li><a href="#heading--bts">What is Better Together?</a></li>
        <li><a href="#heading--responsibility">Who is responsible for data collected about me?</a></li>
        <li><a href="#heading--collection">How does Better Together collect data about me?</a></li>
        <li><a href="#heading--ccpa-sale">Does Better Together sell my personal information?</a></li>
        <li><a href="#heading--data">What personal information does Better Together collect, and why?</a></li>
        <li><a href="#heading--geolocation">Does Better Together collect geolocation data?</a></li>
        <li><a href="#heading--search-indexing">Does Better Together index my content for search?</a></li>
        <li><a href="#heading--marketing">Does Better Together use personal information for marketing purposes?</a></li>
        <li><a href="#heading--choice">How can I make choices about data collection?</a></li>
        <li><a href="#heading--locality">Where does Better Together store data about me?</a></li>
        <li><a href="#heading--retention">How long does Better Together retain my data?</a></li>
        <li><a href="#heading--access">Where can I access data about me?</a></li>
        <li><a href="#heading--change">How can I change or erase data about me?</a></li>
        <li><a href="#heading--sharing">Does Better Together share data about me with others?</a></li>
        <li><a href="#heading--pipeda">Does Better Together comply with Canadian privacy law (PIPEDA)?</a></li>
        <li><a href="#heading--contact">How can I contact Better Together about privacy?</a></li>
        <li><a href="#heading--changes">What if this privacy notice changes?</a></li>
      </ul>

      <p><a id="heading--bts"></a></p>
      <h2 id="what-is-bts">What is Better Together?</h2>

      <p>Better Together is the company home and primary developer of <a href="https://communityengine.app/">Community Engine</a>, open source software for building and hosting Internet community platforms. As a company, Better Together hosts community platforms using Community Engine for customers, as well as:</p>

      <ul>
        <li><a href="https://communityengine.app">communityengine.app</a>, the community platform for Community Engine itself,</li>
        <li><a href="https://bebettertogether.ca">bebettertogether.ca</a>, a website marketing Community Engine and Better Together's open-source software and community initiatives,</li>
        <li><a href="https://bettertogethersolutions.com">bettertogethersolutions.com</a>, a website marketing Better Together's software consulting and hosting service</li>
      </ul>

      <p><a id="heading--responsibility"></a></p>
      <h2 id="who-is-responsible-for-data-collected-about-me">Who is responsible for data collected about me?</h2>

      <p>Better Together is the responsible party, or controller, for the data we collect and process for our own purposes. For instance, Better Together is responsible for data about our customers, employees, open source contributors, and visitors to our own websites and community platforms.</p>

      <p>Importantly, Better Together sets only its own privacy practices, not the privacy practices of Better Together customers or others who host community platforms using our open source software. You should ask all of those involved in administering and hosting Community Engine community platforms that you use for information about their privacy practices.</p>

      <p>Privacy inquiries or notices you send to Better Together about community platforms we host on behalf of our customers will be referred to the appropriate responsible party.</p>

      <p><a id="heading--collection"></a></p>
      <h2 id="how-does-bts-collect-data-about-me">How does Better Together collect data about me?</h2>

      <p>Better Together collects data about you:</p>

      <ul>
        <li>
          <p>when you browse a community platform that Better Together hosts</p>
        </li>
        <li>
          <p>when you create and use an account on a community platform that Better Together hosts</p>
        </li>
        <li>
          <p>when you post, send private messages, and otherwise participate in a community platform that Better Together hosts</p>
        </li>
        <li>
          <p>when you visit our website at <a href="https://communityengine.app">communityengine.app</a></p>
        </li>
        <li>
          <p>when you sign up for mailing lists and announcements</p>
        </li>
        <li>
          <p>when you purchase services from us</p>
        </li>
        <li>
          <p>when you contribute to our open source software</p>
        </li>
      </ul>

      <p>Better Together collects data when you use community platforms that Community Engine hosts, whether you use the community platforms using a web browser on your own computer, or use Better Together's Community Engine apps for mobile devices.</p>

      <p>Better Together does not buy or otherwise receive data about you from data brokers.</p>

      <p><a id="heading--ccpa-sale"></a></p>
      <h2 id="does-bts-sell-my-personal-information-or-share-it-to-serve-behavioral-advertising">Does Better Together sell my personal information or share it to serve behavioral advertising?</h2>

      <p>No, Better Together does not sell personal information or share it with third parties for the purpose of cross-context behavioral advertising.</p>

      <p><a id="heading--data"></a></p>
      <h2 id="what-personal-information-does-bts-collect-and-why">What personal information does Better Together collect, and why?</h2>

      <p><a id="heading--visit-data"></a></p>
      <p id="bts-collects-data-about-visits-to-community-platforms-and-to-its-websites">Better Together collects data about visits to community platforms and to its websites.</p>

      <p>When you visit one of Better Together's websites or a community platform that Better Together hosts, whether you have an account or not, we use <a href="#heading--cookies">cookies</a>, server logs, and other methods to collect data about what pages you visit and when.</p>

      <p>Better Together uses data about how you use the website to:</p>

      <ul>
        <li>
          <p>optimize the community platform, so that it's quick and easy to use</p>
        </li>
        <li>
          <p>diagnose and debug technical errors</p>
        </li>
        <li>
          <p>defend the community platform and Better Together's websites from abuse and technical attacks</p>
        </li>
        <li>
          <p>compile statistics on community platform and topic popularity</p>
        </li>
        <li>
          <p>compile statistics on the kinds of software and computers visitors use</p>
        </li>
      </ul>

      <p>Better Together usually stores the data identified above for just a few weeks. In special circumstances, like extended investigations about technical attacks, Better Together may preserve log data longer, for analysis. Better Together stores aggregate statistics about use of the community platform for as long as Better Together hosts the community platform, but those statistics don't include data identifiable to you personally.</p>

      <p><a id="heading--account-data"></a></p>
      <h3 id="bts-collects-community-platform-account-data">Better Together collects community platform account data.</h3>

      <p>Many features of community platforms that Better Together hosts require a community platform account. For example, most community platforms that Better Together hosts require an account to create and reply to posts.</p>

      <p>To sign up for a community platform account, Community Engine requires your name, a user name, and an e-mail address.</p>

      <p>Better Together uses your account data to identify you on the community platform and to create pages specific to you, such as your profile page. If the community platform is public, Better Together publishes your account data according to the community platform administrator's configuration. If the community platform is access-restricted, Better Together makes your account data available to everyone who can access the community platform, according to the community platform administrator's configuration.</p>

      <p>Better Together uses your e-mail address to:</p>

      <ul>
        <li>
          <p>notify you about posts and other activity on the community platform</p>
        </li>
        <li>
          <p>reset your password and help keep your account secure</p>
        </li>
        <li>
          <p>contact you in special circumstances related to your account</p>
        </li>
        <li>
          <p>contact you about legal requests, like DMCA takedown requests</p>
        </li>
      </ul>

      <p>You may provide additional data for your account, like a short biography, your location, or your birthday, on the profile settings page for your account. Better Together makes that data available to others who can access the community platform. You don't have to provide this additional information, and you can erase it at any time.</p>

      <p>Better Together stores your account data as long as your account remains open.</p>

      <p><a id="heading--customer-data"></a></p>
      <h3 id="bts-collects-customer-account-data">Better Together collects customer account data.</h3>

      <p>When you purchase hosting from Better Together, we require certain information from you, including your email address and the information we require to process payments, such as your name and credit card information. We use this information to perform the contract between us, and store it as long as your customer account remains open.</p>

      <p><a id="heading--community-platform-data"></a></p>
      <h3 id="bts-collects-data-about-posts-and-other-activity-on-the-community-platform">Better Together collects data about posts and other activity on the community platform.</h3>

      <p>Better Together collects the content of your posts, plus data about bookmarks, likes, and links you follow in order to share that data with others, through the community platform. If the community platform is public, Better Together publishes your activity. If the community platform is access-restricted, or access restrictions apply to the specific post, Better Together makes your activity available only to users permitted to see it.</p>

      <p>Better Together also collects data about private messages that you send through the community platform. Better Together makes private messages available to senders and their recipients, and also to community platform administrators.</p>

      <p>Better Together stores your posts and other activity as long as your account remains open.</p>

      <p><a id="heading--geolocation"></a></p>
      <h3 id="bts-collects-geolocation-data">Better Together collects geolocation data.</h3>

      <p>Community Engine uses PostGIS spatial database technology to store and process geographic information. When you provide location information (such as addresses or place names), Better Together may:</p>

      <ul>
        <li>
          <p>Store latitude and longitude coordinates for addresses you provide</p>
        </li>
        <li>
          <p>Geocode addresses to obtain geographic coordinates using third-party geocoding services</p>
        </li>
        <li>
          <p>Store map viewport boundaries and center points for interactive maps you create</p>
        </li>
        <li>
          <p>Associate geographic locations with content you create (such as events, posts, or profiles)</p>
        </li>
      </ul>

      <p>This geographic data may be used to:</p>

      <ul>
        <li>
          <p>Display your content on interactive maps</p>
        </li>
        <li>
          <p>Enable proximity-based searches and recommendations</p>
        </li>
        <li>
          <p>Provide location context for community activities and events</p>
        </li>
      </ul>

      <p>Geographic data is stored according to the privacy settings of your content. Public content may include publicly visible location data. You can control location data visibility through your account settings and content privacy controls.</p>

      <p><a id="heading--search-indexing"></a></p>
      <h3 id="bts-indexes-content-for-search">Better Together indexes content for search.</h3>

      <p>Better Together uses self-hosted Elasticsearch to index and search content on community platforms. Search data is stored on the same servers as your other data and is not shared with third parties. This indexing includes:</p>

      <ul>
        <li>
          <p>Post content and metadata</p>
        </li>
        <li>
          <p>User profile information (according to privacy settings)</p>
        </li>
        <li>
          <p>Community and event information</p>
        </li>
        <li>
          <p>Other searchable content types</p>
        </li>
      </ul>

      <p>Search indexes respect the same privacy controls as the original content. Private or restricted content is indexed only for authorized users.</p>

      <p><a id="heading--signup-data"></a></p>
      <h3 id="bts-collects-data-you-give-to-sign-up-for-mailing-lists-and-announcements">Better Together collects data you give to sign up for mailing lists and announcements.</h3>

      <p>When you fill out and submit a web form to sign up for mailing lists or announcements, Better Together collects the information you put in the form, such as your e-mail address.</p>

      <p><a id="heading--sensitive-data"></a></p>
      <h3 id="bts-does-not-collect-sensitive-personal-information">Better Together does not collect sensitive personal information.</h3>

      <p>Better Together does not intentionally collect or process sensitive personal information, such as government identification numbers, information on racial or ethnic origin, political opinions, genetic data, biometric data, health data, or any of the special categories of personal data specified by the GDPR.</p>

      <p><a id="heading--contributors"></a></p>
      <h3 id="bts-collects-data-about-open-source-contributors">Better Together collects data about open source contributors</h3>

      <p>Contributors to Better Together's open source software may be asked to provide identifying and contact information such as your name, email address, telephone number, and mailing address. Better Together also collects and stores information concerning your agreement to our contributor license agreement.</p>

      <p>Better Together uses this information to maintain the integrity of our software and software licenses, as well as the integrity of the license agreement between Better Together and our contributors. Better Together stores contributor information for as long as related contributions are incorporated into Better Together's open source software.</p>

      <p><a id="heading--error-tracking"></a></p>
      <h3 id="bts-uses-error-tracking-services">Better Together uses error tracking services.</h3>

      <p>When configured by platform administrators, Better Together uses Sentry for error tracking and monitoring. This service may collect:</p>

      <ul>
        <li>
          <p>Error messages and stack traces</p>
        </li>
        <li>
          <p>Browser and device information</p>
        </li>
        <li>
          <p>Session replay data (if enabled)</p>
        </li>
        <li>
          <p>Performance metrics</p>
        </li>
      </ul>

      <p>Better Together configures Sentry to exclude personally identifiable information where possible. For more information about Sentry's data practices, see <a href="https://sentry.io/privacy/">Sentry's privacy policy</a>.</p>

      <p><a id="heading--cookies"></a></p>
      <h3 id="bts-uses-cookies">Better Together uses cookies.</h3>

      <p><a href="https://en.wikipedia.org/wiki/Http_cookies">HTTP cookies</a> are small bits of data that websites, like Community Engine community platforms, send to your computer when you visit. When you return to those websites, your computer sends the cookies on your computer back to the website.</p>

      <h4>Essential Cookies</h4>

      <p>Community Engine community platforms use the following essential cookies that are required for the platform to function properly:</p>

      <div class="hscroll">
        <table>
          <thead>
            <tr>
              <th style="text-align: left">Name</th>
              <th style="text-align: left">Essential</th>
              <th style="text-align: left">Expires</th>
              <th style="text-align: left">Purpose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left">_better_together_session</td>
              <td style="text-align: left">Yes</td>
              <td style="text-align: left">Session or 6 hours of inactivity</td>
              <td style="text-align: left">Stores session data including language preference, invitation tokens, and authentication state</td>
            </tr>
            <tr>
              <td style="text-align: left">remember_user_token</td>
              <td style="text-align: left">No</td>
              <td style="text-align: left">2 weeks</td>
              <td style="text-align: left">Keeps you logged in across browser sessions when "Remember Me" is checked during login</td>
            </tr>
            <tr>
              <td style="text-align: left">_csrf_token</td>
              <td style="text-align: left">Yes</td>
              <td style="text-align: left">Session</td>
              <td style="text-align: left">Protects against cross-site request forgery attacks</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4>Optional Third-Party Services</h4>

      <p>When enabled by platform administrators, the following third-party services may set additional cookies:</p>

      <ul>
        <li><strong>Sentry Error Tracking</strong>: When configured, Sentry may set cookies for error monitoring and session replay. See <a href="https://sentry.io/privacy/">Sentry's privacy policy</a> for details.</li>
        <li><strong>Platform-Specific Analytics</strong>: Individual community platforms may configure their own analytics services. Consult the privacy policy of the specific platform you are using for details on any analytics cookies they use.</li>
      </ul>

      <p>Better Together does not use advertising cookies or sell data to third parties.</p>

      <p>Your <a href="https://www.mozilla.org/en-US/firefox/browsers/what-is-a-browser/">web browser</a> can show you the cookies you have for any website and help you manage them.</p>

      <p><a id="heading--marketing"></a></p>
      <h2 id="does-bts-use-personal-information-for-marketing-purposes">Does Better Together use personal information for marketing purposes?</h2>

      <p>Better Together may use personal information about our customers and prospective customers in order to directly market our own services and inform you about new products and features that we offer. We also use the information you give to sign up for our mailing lists and announcements to send those messages.</p>

      <p>You can always opt out of marketing communications from us, and you have the <a href="#heading--gdpr-rights">right to object</a> to any processing of your information for marketing purposes.</p>

      <p><a id="heading--choice"></a></p>
      <h2 id="how-can-i-make-choices-about-data-collection">How can I make choices about data collection?</h2>

      <p>You can make choices about how data about you is used on the settings page for your account. When a community platform uses access restrictions that vary by category, you can choose who will see your post by choosing the appropriate category.</p>

      <p>Most web browsers let you make choices about whether to accept cookies, for specific websites or more generally. <a href="https://aboutcookies.org">aboutcookies.org</a> has instructions for many different web browsers. <a href="https://youronlinechoices.eu">youronlinechoices.eu</a> and <a href="https://aboutads.info">aboutads.info</a> have more information specifically about cookies used for advertising.</p>

      <p>Better Together does not respond to the <a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track HTTP header</a>.</p>

      <p><a id="heading--locality"></a></p>
      <h2 id="where-does-bts-store-data-about-me">Where does Better Together store data about me?</h2>

      <p>Better Together stores data in the following locations:</p>

      <ul>
        <li>
          <p><strong>Application, Database, and Search Index</strong>: Self-hosted servers operated by Better Together on-premises in Newfoundland and Labrador, Canada (includes PostgreSQL database and Elasticsearch search index)</p>
        </li>
        <li>
          <p><strong>File Storage</strong>: Amazon Web Services S3 in Canada (ca-central-1 region)</p>
        </li>
        <li>
          <p><strong>Content Delivery</strong>: Amazon CloudFront CDN in United States (us-east-1 region) for SSL/TLS certificates and content delivery</p>
        </li>
      </ul>

      <p>Specific community platforms may have different storage configurations. Refer to the privacy policy of the community platform on which your account exists for detailed information about that platform's data storage.</p>

      <p><a id="heading--retention"></a></p>
      <h2 id="how-long-does-bts-retain-data">How long does Better Together retain data?</h2>

      <p>Better Together retains different types of data for different periods:</p>

      <ul>
        <li>
          <p><strong>Account Data</strong>: Retained as long as your account remains open</p>
        </li>
        <li>
          <p><strong>Posts and Activity</strong>: Retained as long as your account remains open</p>
        </li>
        <li>
          <p><strong>Server Logs</strong>: Typically retained for a few weeks; may be retained longer for security investigations</p>
        </li>
        <li>
          <p><strong>Database Backups</strong>: Encrypted daily backups retained for 30 days</p>
        </li>
        <li>
          <p><strong>Session Data</strong>: Expired automatically (session cookies expire on browser close; invitation tokens expire after 30 minutes to 24 hours depending on type)</p>
        </li>
      </ul>

      <p>After you close your account, your data is either deleted or anonymized according to the platform's configuration.</p>

      <p><a id="heading--gdpr"></a></p>
      <h2 id="does-bts-comply-with-the-eu-general-data-protection-regulation">Does Better Together comply with the EU General Data Protection Regulation?</h2>

      <p>Better Together respects privacy rights under <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG">Regulation (EU) 2016/679</a>, the European Union's General Data Protection Regulation (GDPR). Information that GDPR requires Better Together to give can be found throughout this privacy notice, including information on the <a href="#heading--gdpr-rights">rights of data subjects</a>.</p>

      <p><a id="heading--gdpr-rights"></a></p>
      <h2 id="what-are-my-rights-under-the-gdpr">What are my rights under the GDPR?</h2>

      <p>The GDPR provides the following rights with respect to personal information about you that we collect or process:</p>

      <ul>
        <li>
          <p>the right to <a href="#heading--access">access</a> your personal data</p>
        </li>
        <li>
          <p>the right to <a href="#heading--change">rectification</a> of inaccurate or incomplete personal data</p>
        </li>
        <li>
          <p>the right to <a href="#heading--change">erasure</a> of your personal data</p>
        </li>
        <li>
          <p>the right to <a href="#heading--access">data portability</a></p>
        </li>
        <li>
          <p>the right to restrict the processing of your personal data</p>
        </li>
        <li>
          <p>the right to object to certain processing of your information, including <a href="#heading--marketing">direct marketing</a></p>
        </li>
        <li>
          <p>the right to lodge a complaint with a supervisory authority</p>
        </li>
      </ul>

      <p>Information on how to exercise these rights is provided throughout this notice and linked above. While Better Together strives to make these rights easy to exercise on your own through your account settings, for more complicated inquiries the best option will be to <a href="#heading--contact">contact us</a>.</p>

      <p><a id="heading--schrems-ii"></a></p>
      <h2 id="how-does-bts-safeguard-international-data-transfers-after-schrems-ii">How does Better Together safeguard international data transfers after Schrems II?</h2>

      <p>Better Together relies on the European Commission's <a href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en">standard contractual clauses for international transfers</a> (SCCs) to legally transfer personal data out of the European Economic Area. Because national security and surveillance laws may be in conflict with European data protection rules, Better Together continually reassesses the practical reach of these laws to ensure our data transfers are adequately safeguarded.</p>

      <p>Currently:</p>

      <ul>
        <li>
          <p>Better Together <a href="#heading--locality">processes personal data on servers located in Canada and uses services in the United States</a>.</p>
        </li>
        <li>
          <p>Better Together <a href="#heading--sharing">uses subprocessors</a> with personnel and computers outside the European Union.</p>
        </li>
        <li>
          <p>Better Together operates primarily in Canada with personnel who may need access to community platform personal data in order to keep community platforms running, address security concerns, respond to privacy-related requests from users, field technical support requests, and otherwise assist customers.</p>
        </li>
        <li>
          <p>Better Together no longer participates in Privacy Shield, following its invalidation as an adequate safeguard for EU-US data transfers.</p>
        </li>
        <li>
          <p>Better Together's standard data processing addendum incorporates the standard contractual clauses.</p>
        </li>
        <li>
          <p>Better Together has never received any order or request for personal data under FISA 702 or any similar national security or surveillance law of any other country. Better Together is not subject to any court order or legal obligation that would prevent it from disclosing the existence or non-existence of such an order or request.</p>
        </li>
        <li>
          <p>Better Together has adopted a policy for how we will respond to those orders and requests, in case we ever receive one. Better Together will suspend processing, notify any customer for community platforms we host for others, minimize disclosure, and resist disclosure of personal data, all as the law allows.</p>
        </li>
      </ul>

      <p><a id="heading--ccpa"></a></p>
      <h2 id="does-bts-comply-with-the-california-consumer-privacy-act">Does Better Together comply with the California Consumer Privacy Act?</h2>

      <p>Better Together complies with its obligations under the California Consumer Privacy Act (CCPA). Better Together <a href="#heading--ccpa-sale">does <em>not</em> sell</a> your personal information within the meaning of that law. Information on CCPA user rights — such as <a href="#heading--access">accessing</a> or <a href="#heading--change">deleting</a> your personal information — can be found throughout this privacy notice. So can information about specific CCPA consumer rights, like <a href="#heading--access">requesting disclosure about information Better Together collects</a> and <a href="#heading--change">requesting deletion of your personal information</a>.</p>

      <p>Better Together is not presently a "business" for the purposes of the CCPA, but we may act as a service provider for CCPA businesses when we host community platforms on behalf of customers. We offer a standard Service Provider Agreement for CCPA business customers.</p>

      <p><a id="heading--pipeda"></a></p>
      <h2 id="does-bts-comply-with-canadian-privacy-law">Does Better Together comply with Canadian privacy law (PIPEDA)?</h2>

      <p>Better Together complies with Canada's Personal Information Protection and Electronic Documents Act (PIPEDA), which governs how private sector organizations collect, use, and disclose personal information in the course of commercial activities.</p>

      <h3>PIPEDA Applicability</h3>

      <p>PIPEDA applies to Better Together's operations because:</p>

      <ul>
        <li>
          <p>We are a private sector organization conducting commercial activities in Canada</p>
        </li>
        <li>
          <p>We operate in Newfoundland and Labrador, where PIPEDA is the applicable privacy law for private sector commercial activities</p>
        </li>
        <li>
          <p>We handle personal information that crosses provincial and national borders</p>
        </li>
      </ul>

      <h3>PIPEDA's Ten Fair Information Principles</h3>

      <p>Better Together follows PIPEDA's ten fair information principles:</p>

      <ol>
        <li>
          <p><strong>Accountability</strong>: Better Together is responsible for personal information under our control. We have designated a Privacy Officer who is accountable for our compliance with PIPEDA.</p>
        </li>
        <li>
          <p><strong>Identifying Purposes</strong>: We identify the purposes for which we collect personal information at or before the time of collection. These purposes are described throughout this privacy notice.</p>
        </li>
        <li>
          <p><strong>Consent</strong>: We obtain your <a href="#heading--choice">meaningful consent</a> for the collection, use, or disclosure of your personal information, except where inappropriate (such as for legal or security reasons).</p>
        </li>
        <li>
          <p><strong>Limiting Collection</strong>: We collect only the personal information that is necessary for the purposes we have identified.</p>
        </li>
        <li>
          <p><strong>Limiting Use, Disclosure, and Retention</strong>: We use or disclose personal information only for the purposes for which it was collected, except with your consent or as required by law. We <a href="#heading--retention">retain personal information</a> only as long as necessary.</p>
        </li>
        <li>
          <p><strong>Accuracy</strong>: We strive to keep personal information as accurate, complete, and up-to-date as necessary. You can <a href="#heading--change">update your information</a> at any time.</p>
        </li>
        <li>
          <p><strong>Safeguards</strong>: We protect personal information with security safeguards appropriate to the sensitivity of the information, including encryption, access controls, and secure storage.</p>
        </li>
        <li>
          <p><strong>Openness</strong>: This privacy notice makes information about our privacy policies and practices readily available to you.</p>
        </li>
        <li>
          <p><strong>Individual Access</strong>: Upon request, we inform you of the existence, use, and disclosure of your personal information, and provide <a href="#heading--access">access to that information</a>. You may challenge the accuracy and completeness of your information and have it amended as appropriate.</p>
        </li>
        <li>
          <p><strong>Challenging Compliance</strong>: You may <a href="#heading--contact">contact our Privacy Officer</a> with questions or complaints about our compliance with PIPEDA.</p>
        </li>
      </ol>

      <h3>Your Rights Under PIPEDA</h3>

      <p>Under PIPEDA, you have the right to:</p>

      <ul>
        <li>
          <p><strong>Know why we collect your information</strong>: We explain our purposes throughout this privacy notice</p>
        </li>
        <li>
          <p><strong>Expect reasonable protection</strong>: We use appropriate security safeguards</p>
        </li>
        <li>
          <p><strong>Access your personal information</strong>: See <a href="#heading--access">where can I access data about me</a></p>
        </li>
        <li>
          <p><strong>Challenge the accuracy of your information</strong>: See <a href="#heading--change">how can I change or erase data about me</a></p>
        </li>
        <li>
          <p><strong>Withdraw consent</strong>: You can withdraw consent at any time, subject to legal or contractual restrictions</p>
        </li>
        <li>
          <p><strong>File a complaint</strong>: You can file a complaint about our privacy practices with our Privacy Officer or with the Office of the Privacy Commissioner of Canada</p>
        </li>
      </ul>

      <h3>Consent Under PIPEDA</h3>

      <p>Better Together obtains your consent in various ways depending on the sensitivity of the information and your relationship with us:</p>

      <ul>
        <li>
          <p><strong>Express consent</strong>: For sensitive personal information, we obtain your explicit, opt-in consent</p>
        </li>
        <li>
          <p><strong>Implied consent</strong>: For less sensitive information, we may rely on implied consent when the purpose would be considered obvious and you voluntarily provide the information</p>
        </li>
        <li>
          <p><strong>Withdrawal of consent</strong>: You may withdraw consent at any time by <a href="#heading--contact">contacting us</a> or through your account settings, subject to legal or contractual restrictions and reasonable notice</p>
        </li>
      </ul>

      <h3>Data Breach Notification</h3>

      <p>In accordance with PIPEDA's breach reporting requirements, Better Together will:</p>

      <ul>
        <li>
          <p>Report any breach of security safeguards to the Privacy Commissioner of Canada if it is reasonable to believe that the breach creates a real risk of significant harm to individuals</p>
        </li>
        <li>
          <p>Notify affected individuals of any breach that creates a real risk of significant harm</p>
        </li>
        <li>
          <p>Maintain records of all privacy breaches</p>
        </li>
      </ul>

      <h3>Cross-Border Data Transfers</h3>

      <p>As described in <a href="#heading--locality">where does Better Together store data about me</a>, some of your personal information may be stored or processed outside of Canada. When we transfer personal information outside Canada, we ensure that it receives a comparable level of protection through contractual or other means.</p>

      <h3>Filing a Complaint Under PIPEDA</h3>

      <p>If you have concerns about our privacy practices, please first <a href="#heading--contact">contact our Privacy Officer</a>. If you are not satisfied with our response, you may file a complaint with:</p>

      <p>Office of the Privacy Commissioner of Canada<br>
      30 Victoria Street<br>
      Gatineau, Quebec K1A 1H3<br>
      Toll-free: 1-800-282-1376<br>
      Phone: (819) 994-5444<br>
      TTY: (819) 994-6591<br>
      Website: <a href="https://www.priv.gc.ca">www.priv.gc.ca</a></p>

      <p><a id="heading--access"></a></p>
      <h2 id="where-can-i-access-data-about-me">Where can I access data about me?</h2>

      <p>You can see your account data at any time by visiting your account page on the community platform. Your account page also lists your posts and other activity on the community platform.</p>

      <p>If you do not have account with us but have a data access request, please <a href="#heading--contact">contact us</a>.</p>

      <p><a id="heading--change"></a></p>
      <h2 id="how-can-i-change-or-erase-data-about-me">How can I change or erase data about me?</h2>

      <p>You can change your account data at any time by visiting the profile settings page for your account. The settings for a particular community platform may also allow you to close your account, on the settings page for your account. Closing your account starts a process of erasing or anonymizing Better Together's records of data you provided for your account. Community Platform administrators can also erase and anonymize accounts.</p>

      <p>Depending on the settings for your particular community platform, you may also be able to edit, anonymize, or erase your posts. When you edit posts, Better Together will keep all versions of your posts. Community Platform administrators can view old versions of posts, and optionally make them visible to other community platform visitors.</p>

      <p><a id="heading--sharing"></a></p>
      <h2 id="does-bts-share-data-about-me-with-others">Does Better Together share data about me with others?</h2>

      <p>Better Together shares account data with others as <a href="#heading--account-data">mentioned in the section about account data</a>.</p>

      <p>Better Together shares data about your posts and other community platform activity with others as <a href="#heading--community-platform-data">mentioned in the section about community platform data</a>.</p>

      <p>Better Together uses subprocessors and service providers to operate community platforms and deliver services. We may share personal data with the following service providers:</p>

      <ul>
        <li><a href="https://aws.amazon.com/privacy/">Amazon Web Services</a>, for file storage (S3) and content delivery (CloudFront)</li>
        <li><a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">GitHub</a>, for open source development and version control</li>
        <li><a href="https://stripe.com/privacy">Stripe</a>, for processing payments</li>
        <li><a href="https://sentry.io/privacy/">Sentry</a>, for error tracking and monitoring (when configured)</li>
      </ul>

      <p>These service providers are contractually required to protect your data and use it only for the purposes we specify.</p>

      <p><a id="heading--contact"></a></p>
      <h2 id="how-can-i-contact-bts-about-privacy">How can I contact Better Together about privacy?</h2>

      <p>You can send questions, requests, and complaints to our Privacy Officer:</p>

      <p>Better Together Solutions<br>
      Privacy Officer<br>
      <a href="mailto:privacy@bettertogethersolutions.com">privacy@bettertogethersolutions.com</a></p>

      <p>We aim to respond to privacy inquiries within 30 days. For complex requests, we may extend this timeline and will notify you of any extension.</p>

      <p><strong>For Canadian residents:</strong> If you have concerns about our privacy practices under PIPEDA, you may contact our Privacy Officer using the information above. You also have the right to file a complaint with the Office of the Privacy Commissioner of Canada at <a href="https://www.priv.gc.ca">www.priv.gc.ca</a> or 1-800-282-1376.</p>

      <p><strong>For European Union residents:</strong> Questions or complaints about GDPR compliance should be sent to the email address above. You may also lodge complaints with your local data protection supervisory authority.</p>

      <p><strong>For California residents:</strong> Questions about CCPA rights should be sent to the email address above.</p>

      <p><a id="heading--changes"></a></p>
      <h2 id="how-can-i-find-out-about-changes">How can I find out about changes?</h2>

      <p>This version of Better Together's privacy questions and answers took effect November 20th, 2025.</p>

      <p>Better Together will post the next version at <a href="https://communityengine.app/privacy">https://communityengine.app/privacy</a>. Better Together may change how it announces changes in future versions.</p>

      <p>In the meantime, Better Together may update <a href="#heading--contact">its contact information</a> without announcing a change. Please refer to <a href="https://communityengine.app/privacy">https://communityengine.app/privacy</a> for the latest contact information at any time.</p>

      <hr class="my-5">

      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading"><i class="fas fa-lightbulb me-2" aria-hidden="true"></i>Plain Language Summary</h4>
        <p>Our privacy policy is detailed, but here are the key points:</p>
        <ul class="mb-0">
          <li><strong>What we collect:</strong> Account info, content you create, usage data, and technical information like IP addresses</li>
          <li><strong>Why we collect it:</strong> To provide the platform, improve our service, ensure security, and comply with laws</li>
          <li><strong>Do we sell your data?</strong> No, we never sell your personal information to third parties</li>
          <li><strong>Cookies:</strong> We use essential cookies for login and functionality, plus optional analytics cookies with your consent</li>
          <li><strong>Your choices:</strong> You can access, export, change, or delete your data at any time</li>
          <li><strong>Search indexing:</strong> Public content may be indexed for search; private content is never indexed</li>
          <li><strong>Data sharing:</strong> We only share data with service providers (like hosting), when required by law, or with your consent</li>
          <li><strong>Canadian compliance (PIPEDA):</strong> We follow all 10 Fair Information Principles for Canadian users</li>
          <li><strong>GDPR (EU) & CCPA (California):</strong> We comply with these privacy laws and honor all your rights under them</li>
          <li><strong>Data security:</strong> We encrypt sensitive data and follow industry-standard security practices</li>
          <li><strong>Data retention:</strong> We keep data as long as needed for service delivery and legal requirements</li>
          <li><strong>Your rights:</strong> Access, correct, delete, export, or object to processing of your data</li>
          <li><strong>Contact us:</strong> Email privacy@bettertogethersolutions.com for any privacy questions or requests</li>
        </ul>
        <p class="mb-0 mt-3"><em>This summary is for your convenience only. For complete details, please read the full privacy policy above.</em></p>
      </div>

    </div>
  </div>
</div>
