<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col">
      <h1 id="privacy-information">Privacy Information</h1>

      <p>This notice describes how <a href="https://bettertogethersolutions.com/">Better Together Solutions</a>, or BTS for short, collects and uses personal information. This notice also provides information about the legal rights individuals have concerning their personal information and how you can exercise those rights.</p>

      <p>Jump to:</p>

      <ul>
        <li><a href="#heading--bts">What is BTS?</a></li>
        <li><a href="#heading--responsibility">Who is responsible for data collected about me?</a></li>
        <li><a href="#heading--collection">How does BTS collect data about me?</a></li>
        <li><a href="#heading--ccpa-sale">Does BTS sell my personal information?</a></li>
        <li><a href="#heading--data">What personal information does BTS collect, and why?</a></li>
        <li><a href="#heading--marketing">Does BTS use personal information for marketing purposes?</a></li>
        <li><a href="#heading--choice">How can I make choices about data collection?</a></li>
        <li><a href="#heading--locality">Where does BTS store data about me?</a></li>
        <li><a href="#heading--access">Where can I access data about me?</a></li>
        <li><a href="#heading--change">How can I change or erase data about me?</a></li>
        <li><a href="#heading--automated-decisions">Does BTS make automated decisions based on data about me?</a></li>
        <li><a href="#heading--sharing">Does BTS share data about me with others?</a></li>
        <li><a href="#heading--contact">How can I contact BTS about privacy?</a></li>
        <li><a href="#heading--changes">What if this privacy notice changes?</a></li>
      </ul>

      <p><a id="heading--bts"></a></p>
      <h2 id="what-is-bts">What is BTS?</h2>

      <p>BTS is the company home and primary developer of <a href="https://communityengine.ca/">Community Engine</a>, open source software for building and hosting Internet community platforms. As a company, BTS hosts community platforms using Community Engine for customers, as well as:</p>

      <ul>
        <li><a href="https://communityengine.app">communityengine.app</a>, the community platform for Community Engine itself,</li>
        <li><a href="https://bebettertogether.ca">bebettertogether.ca</a>, a website marketing Community Engine and BTS’s hosting service,</li>
      </ul>

      <p><a id="heading--responsibility"></a></p>
      <h2 id="who-is-responsible-for-data-collected-about-me">Who is responsible for data collected about me?</h2>

      <p>BTS is the responsible party, or controller, for the data we collect and process for our own purposes. For instance, BTS is responsible for data about our customers, employees, open source contributors, and visitors to our own websites and community platforms.</p>

      <p>Importantly, BTS sets only its own privacy practices, not the privacy practices of BTS customers or others who host community platforms using our open source software. You should ask all of those involved in administering and hosting Community Engine community platforms that you use for information about their privacy practices.</p>

      <p>Privacy inquiries or notices you send to BTS about community platforms we host on behalf of our customers will be referred to the appropriate responsible party.</p>

      <p><a id="heading--collection"></a></p>
      <h2 id="how-does-bts-collect-data-about-me">How does BTS collect data about me?</h2>

      <p>BTS collects data about you:</p>

      <ul>
        <li>
          <p>when you browse a community platform that BTS hosts</p>
        </li>
        <li>
          <p>when you create and use an account on a community platform that BTS hosts</p>
        </li>
        <li>
          <p>when you post, send private messages, and otherwise participate in a community platform that BTS hosts</p>
        </li>
        <li>
          <p>when you visit our website at <a href="https://communityengine.ca">communityengine.ca</a></p>
        </li>
        <li>
          <p>when you sign up for mailing lists and announcements</p>
        </li>
        <li>
          <p>when you purchase services from us</p>
        </li>
        <li>
          <p>when you contribute to our open source software</p>
        </li>
      </ul>

      <p>BTS collects data when you use community platforms that Community Engine hosts, whether you use the community platforms using a web browser on your own computer, or use BTS’s Community Engine apps for mobile devices.</p>

      <p>BTS does not buy or otherwise receive data about you from data brokers.</p>

      <p><a id="heading--ccpa-sale"></a></p>
      <h2 id="does-bts-sell-my-personal-information-or-share-it-to-serve-behavioral-advertising">Does BTS sell my personal information or share it to serve behavioral advertising?</h2>

      <p>No, BTS does not sell personal information or share it with third parties for the purpose of cross-context behavioral advertising.</p>

      <p><a id="heading--data"></a></p>
      <h2 id="what-personal-information-does-bts-collect-and-why">What personal information does BTS collect, and why?</h2>

      <p><a id="heading--visit-data"></a></p>
      <h3 id="bts-collects-data-about-visits-to-community platforms-and-to-its-websites">BTS collects data about visits to community platforms and to its websites.</h3>

      <p>When you visit one of BTS’s websites or a community platform that BTS hosts, whether you have an account or not, we use <a href="#heading--cookies">cookies</a>, server logs, and other methods to collect data about what pages you visit and when.</p>

      <p>BTS uses data about how you use the website to:</p>

      <ul>
        <li>
          <p>optimize the community platform, so that it’s quick and easy to use</p>
        </li>
        <li>
          <p>diagnose and debug technical errors</p>
        </li>
        <li>
          <p>defend the community platform and BTS’s websites from abuse and technical attacks</p>
        </li>
        <li>
          <p>compile statistics on community platform and topic popularity</p>
        </li>
        <li>
          <p>compile statistics on the kinds of software and computers visitors use</p>
        </li>
      </ul>

      <p>BTS usually stores the data identified above for just a few weeks. In special circumstances, like extended investigations about technical attacks, BTS may preserve log data longer, for analysis. BTS stores aggregate statistics about use of the community platform for as long as BTS hosts the community platform, but those statistics don’t include data identifiable to you personally.</p>

      <p><a id="heading--account-data"></a></p>
      <h3 id="bts-collects-community platform-account-data">BTS collects community platform account data.</h3>

      <p>Many features of community platforms that BTS hosts require a community platform account. For example, most community platforms that BTS hosts require an account to create and reply to posts.</p>

      <p>To sign up for a community platform account, Community Engine requires your name, a user name, and an e-mail address.</p>

      <p>BTS uses your account data to identify you on the community platform and to create pages specific to you, such as your profile page. If the community platform is public, BTS publishes your account data according to the community platform administrator’s configuration. If the community platform is access-restricted, BTS makes your account data available to everyone who can access the community platform, according to the community platform administrator’s configuration.</p>

      <p>BTS uses your e-mail address to:</p>

      <ul>
        <li>
          <p>notify you about posts and other activity on the community platform</p>
        </li>
        <li>
          <p>reset your password and help keep your account secure</p>
        </li>
        <li>
          <p>contact you in special circumstances related to your account</p>
        </li>
        <li>
          <p>contact you about legal requests, like DMCA takedown requests</p>
        </li>
      </ul>

      <p>You may provide additional data for your account, like a short biography, your location, or your birthday, on the profile settings page for your account. BTS makes that data available to others who can access the community platform. You don’t have to provide this additional information, and you can erase it at any time.</p>

      <p>BTS stores your account data as long as your account remains open.</p>

      <p><a id="heading--customer-data"></a></p>
      <h3 id="bts-collects-customer-account-data">BTS collects customer account data.</h3>

      <p>When you purchase hosting from BTS, we require certain information from you, including your email address and the information we require to process payments, such as your name and credit card information. We use this information to perform the contract between us, and store it as long as your customer account remains open.</p>

      <p><a id="heading--community platform-data"></a></p>
      <h3 id="bts-collects-data-about-posts-and-other-activity-on-the-community platform">BTS collects data about posts and other activity on the community platform.</h3>

      <p>BTS collects the content of your posts, plus data about bookmarks, likes, and links you follow in order to share that data with others, through the community platform. If the community platform is public, BTS publishes your activity. If the community platform is access-restricted, or access restrictions apply to the specific post, BTS makes your activity available only to users permitted to see it.</p>

      <p>BTS also collects data about private messages that you send through the community platform. BTS makes private messages available to senders and their recipients, and also to community platform administrators.</p>

      <p>BTS stores your posts and other activity as long as your account remains open.</p>

      <p><a id="heading--signup-data"></a></p>
      <h3 id="bts-collects-data-you-give-to-sign-up-for-mailing-lists-and-announcements">BTS collects data you give to sign up for mailing lists and announcements.</h3>

      <p>When you fill out and submit a web form to sign up for mailing lists or announcements, BTS collects the information you put in the form, such as your e-mail address.</p>

      <p><a id="heading--sensitive-data"></a></p>
      <h3 id="bts-does-not-collect-sensitive-personal-information">BTS does not collect sensitive personal information.</h3>

      <p>BTS does not intentionally collect or process sensitive personal information, such as government identification numbers, information on racial or ethnic origin, political opinions, genetic data, biometric data, health data, or any of the special categories of personal data specified by the GDPR.</p>

      <p><a id="heading--contributors"></a></p>
      <h3 id="bts-collects-data-about-open-source-contributors">BTS collects data about open source contributors</h3>

      <p>Contributors to BTS’s open source software may be asked to provide identifying and contact information such as your name, email address, telephone number, and mailing address. BTS also collects and stores information concerning your agreement to our contributor license agreement.</p>

      <p>BTS uses this information to maintain the integrity of our software and software licenses, as well as the integrity of the license agreement between BTS and our contributors. BTS stores contributor information for as long as related contributions are incorporated into BTS’s open source software.</p>

      <p><a id="heading--cookies"></a></p>
      <h3 id="bts-uses-cookies">BTS uses cookies.</h3>

      <p><a href="https://en.wikipedia.org/wiki/Http_cookies">HTTP cookies</a> are small bits of data that websites, like Community Engine community platforms, send to your computer when you visit.  When you return to those websites, your computer sends the cookies on your computer back to the website.</p>

      <p>CommunityEngine.ca uses these cookies:</p>

      <div class="hscroll">

        <table>
          <thead>
            <tr>
              <th style="text-align: left">Name</th>
              <th style="text-align: left">Essential</th>
              <th style="text-align: left">Expires</th>
              <th style="text-align: left">Purpose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left"></td>
              <td style="text-align: left"></td>
              <td style="text-align: left"></td>
              <td style="text-align: left"></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="hscroll">

        <p>In addition, look at the privacy notice for your specific community platform to find out which cookies that community platform uses.  By default, all Community Engine community platforms use these cookies:</p>

        <table>
          <thead>
            <tr>
              <th style="text-align: left">Name</th>
              <th style="text-align: left">Essential</th>
              <th style="text-align: left">Expires</th>
              <th style="text-align: left">Purpose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left">email</td>
              <td style="text-align: left">Yes</td>
              <td style="text-align: left">Session</td>
              <td style="text-align: left">remembers your e-mail as you create an account</td>
            </tr>
            <tr>
              <td style="text-align: left">destination_url</td>
              <td style="text-align: left">Yes</td>
              <td style="text-align: left">Session</td>
              <td style="text-align: left">helps redirect you to your requested page after logging in</td>
            </tr>
            <tr>
              <td style="text-align: left">_t</td>
              <td style="text-align: left">Yes</td>
              <td style="text-align: left">1440 Hours</td>
              <td style="text-align: left">remembers who you are when you log in</td>
            </tr>
            <tr>
              <td style="text-align: left">_community_platform_session</td>
              <td style="text-align: left">Yes</td>
              <td style="text-align: left">Session</td>
              <td style="text-align: left">associates an ID, and other security-related information, with your browsing session</td>
            </tr>
          </tbody>
        </table>

      </div>

      <p>Community Engine community platforms that configure <a href="https://analytics.google.com/">Google Analytics</a>, such as <a href="https://communityengine.app">communityengine.app</a>, also use cookies from Google.  Refer to <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google’s page on Google Analytics cookies</a> for the latest details.</p>

      <p>Community Engine community platforms that serve advertisements may also set cookies used to track you and serve advertisements.</p>

      <p>Your <a href="https://analytics.blogspot.com/">web browser</a> can show you the cookies you have for any website and help you manage them.</p>

      <p><a id="heading--marketing"></a></p>
      <h2 id="does-bts-use-personal-information-for-marketing-purposes">Does BTS use personal information for marketing purposes?</h2>

      <p>BTS may use personal information about our customers and prospective customers in order to directly market our own services and inform you about new products and features that we offer.  We also use the information you give to sign up for our mailing lists and announcements to send those messages.</p>

      <p>You can always opt out of marketing communications from us, and you have the <a href="#heading--gdpr-rights">right to object</a> to any processing of your information for marketing purposes.</p>

      <p><a id="heading--choice"></a></p>
      <h2 id="how-can-i-make-choices-about-data-collection">How can I make choices about data collection?</h2>

      <p>You can make choices about how data about you is used on the settings page for your account. When a community platform uses access restrictions that vary by category, you can choose who will see your post by choosing the appropriate category.</p>

      <p>Most web browsers let you make choices about whether to accept cookies, for specific websites or more generally.  <a href="https://aboutcookies.org">aboutcookies.org</a> has instructions for many different web browsers.  <a href="https://youronlinechoices.eu">youronlinechoices.eu</a> and <a href="https://aboutads.info">aboutads.info</a> have more information specifically about cookies used for advertising.</p>

      <p>BTS does not respond to the <a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track HTTP header</a>.</p>

      <p><a id="heading--locality"></a></p>
      <h2 id="where-does-bts-store-data-about-me">Where does BTS store data about me?</h2>

      <p>Most community platforms that BTS hosts store data in BTS’s data centers and Amazon Web Services S3 in the Canada. Some community platforms that BTS hosts store data in data centers in other jurisdictions, such as United States and the European Union. Refer to the Privacy Policy of the community platform on which your account exists for detailed information.</p>

      <p><a id="heading--gdpr"></a></p>
      <h2 id="does-bts-comply-with-the-eu-general-data-protection-regulation">Does BTS comply with the EU General Data Protection Regulation?</h2>

      <p>BTS respects privacy rights under <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG">Regulation (EU) 2016/679</a>, the European Union’s General Data Protection Regulation (GDPR). Information that GDPR requires BTS to give can be found throughout this privacy notice, including information on the <a href="#heading--gdpr-rights">rights of data subjects</a>.</p>

      <p><a id="heading--gdpr-rights"></a></p>
      <h2 id="what-are-my-rights-under-the-gdpr">What are my rights under the GDPR?</h2>

      <p>The GDPR provides the following rights with respect to personal information about you that we collect or process:</p>

      <ul>
        <li>
          <p>the right to <a href="#heading--access">access</a> your personal data</p>
        </li>
        <li>
          <p>the right to <a href="#heading--change">rectification</a> of inaccurate or incomplete personal data</p>
        </li>
        <li>
          <p>the right to <a href="#heading--change">erasure</a> of your personal data</p>
        </li>
        <li>
          <p>the right to <a href="#heading--access">data portability</a></p>
        </li>
        <li>
          <p>the right to restrict the processing of your personal data</p>
        </li>
        <li>
          <p>the right to object to certain processing of your information, including <a href="#heading--automated-decisions">automated decision-making</a> and <a href="#heading--marketing">direct marketing</a></p>
        </li>
        <li>
          <p>the right to lodge a complaint with a supervisory authority</p>
        </li>
      </ul>

      <p>Information on how to exercise these rights is provided throughout this notice and linked above. While BTS strives to make these rights easy to exercise on your own through your account settings, for more complicated inquiries the best option will be to <a href="#heading--contact">contact us</a>.</p>

      <p><a id="heading--schrems-ii"></a></p>
      <h2 id="how-does-bts-safeguard-international-data-transfers-after-schrems-ii">How does BTS safeguard international data transfers after Schrems II?</h2>

      <p>BTS relies on the European Commission’s <a href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en">standard contractual clauses for international transfers</a>(SCCs) to legally transfer personal data out of the European Economic Area. Because national security and surveillance laws may be in conflict with European data protection rules, BTS continually reassesses the practical reach of these laws to ensure our data transfers are adequately safeguarded.</p>

      <p>Currently:</p>

      <ul>
        <li>
          <p>BTS <a href="#heading--locality">processes personal data on servers located outside the European Union</a>.</p>
        </li>
        <li>
          <p>BTS <a href="#heading--sharing">uses subprocessors</a> with personnel and computers outside the European Union.</p>
        </li>
        <li>
          <p>BTS has <a href="https://communityengine.ca/team">personnel</a> in the United States, Australia, and other non-EU countries without EU adequacy decisions under GDPR. These people need access to community platform personal data in order to keep community platforms running, address security concerns, respond to privacy-related requests from users, field technical support requests, and otherwise assist customers.</p>
        </li>
        <li>
          <p>BTS no longer participates in Privacy Shield, following its invalidation as an adequate safeguard for EU-US data transfers.</p>
        </li>
        <li>
          <p>BTS’s <a href="/forms/dpa">standard data processing addendum</a> incorporates the standard contractual clauses.</p>
        </li>
        <li>
          <p>BTS has never received any order or request for personal data under FISA 702 or any similar national security or surveillance law of any other country. BTS is not subject to any court order or legal obligation that would prevent it from disclosing the existence or non-existence of such an order or request.</p>
        </li>
        <li>
          <p>BTS has adopted a policy for how we will respond to those orders and requests, in case we ever receive one.  BTS will suspend processing, notify any customer for community platforms we host for others, minimize disclosure, and resist disclosure of personal data, all as the law allows.</p>
        </li>
      </ul>

      <p><a id="heading--ccpa"></a></p>
      <h2 id="does-bts-comply-with-the-california-consumer-privacy-act">Does BTS comply with the California Consumer Privacy Act?</h2>

      <p>BTS complies with its obligations under the California Consumer Privacy Act (CCPA). BTS <a href="#heading--ccpa-sale">does <em>not</em> sell</a> your personal information within the meaning of that law. Information on CCPA user rights — such as <a href="#heading--access">accessing</a> or <a href="#heading--access">deleting</a> your personal information — can be found throughout this privacy notice. So can information about specific CCPA consumer rights, like <a href="#heading--access">requesting disclosure about information BTS collects</a> and <a href="#heading--change">requesting deletion of your personal information</a>.</p>

      <p>BTS is not presently a “business” for the purposes of the CCPA, but we may act as a service provider for CCPA businesses when we host community platforms on behalf of customers. We offer a standard <a href="#heading--customers">Service Provider Agreement</a> for CCPA business customers.</p>

      <p><a id="heading--access"></a></p>
      <h2 id="where-can-i-access-data-about-me">Where can I access data about me?</h2>

      <p>You can see your account data at any time by visiting your account page on the community platform. Your account page also lists your posts and other activity on the community platform.</p>

      <!-- <p>Your account activity page also includes a link to download all of your activity in standard <a href="https://en.wikipedia.org/wiki/Comma-separated_values">comma-separated values</a> format.</p> -->

      <p>If you do not have account with us but have a data access request, please <a href="#contact">contact us</a>.</p>

      <p><a id="heading--change"></a></p>
      <h2 id="how-can-i-change-or-erase-data-about-me">How can I change or erase data about me?</h2>

      <p>You can change your account data at any time by visiting the profile settings page for your account. The settings for a particular community platform may also allow you to close your account, on the settings page for your account. Closing your account starts a process of erasing or anonymizing BTS’s records of data you provided for your account. Community Platform administrators can also erase and anonymize accounts.</p>

      <p>Depending on the settings for your particular community platform, you may also be able to edit, anonymize, or erase your posts. When you edit posts, BTS will keep all versions of your posts. Community Platform administrators can view old versions of posts, and optionally make them visible to other community platform visitors.</p>

      <p><a id="heading--automated-decisions"></a></p>
      <h2 id="does-bts-make-automated-decisions-based-on-data-about-me">Does BTS make automated decisions based on data about me?</h2>

      <p><a id="heading--spam"></a></p>
      <h3 id="bts-classifies-posts-as-spam-automatically">BTS classifies posts as spam automatically.</h3>

      <p>BTS uses data about your posts and other activity on many community platforms to make automated decisions about whether your posts to <a href="https://communityengine.app">communityengine.app</a> and most community platforms that BTS hosts are spam. When <a href="#heading--sharing">Akismet</a> decides that a post is likely spam, the community platform refuses to accept the post.</p>

      <p>If you think a post has been wrongly blocked or removed, contact an administrator of your community platform. They can override the decision that a post was spam.</p>

      <p><a id="heading--trust-levels"></a></p>
      <h3 id="bts-uses-data-about-posts-and-activity-to-set-trust-levels-automatically">BTS uses data about posts and activity to set trust levels automatically.</h3>

      <p>Depending on how administrators of your community platform configure the community platform, the community platform may use data about your posts and activity to award you badges and calculate a trust level for your account. Your trust level may affect how you can participate in the community platform, such as whether you can upload images, as well as give you access to moderation and management powers in the community platform. Your trust level therefore reflects community platform administrators’ confidence in you, and their willingness to delegate community management functions, like moderation.</p>

      <p>If you think your trust level has been set incorrectly, contact an administrator of your community platform. They can manually adjust the trust level of your account.</p>

      <p><a id="heading--sharing"></a></p>
      <h2 id="does-bts-share-data-about-me-with-others">Does BTS share data about me with others?</h2>

      <p>BTS shares account data with others as <a href="#heading--account-data">mentioned in the section about account data</a>.</p>

      <p>BTS shares data about your posts and other community platform activity with others as <a href="#heading--community platform-data">mentioned in the section about community platform data</a>.</p>

      <p>BTS uses the <a href="/subprocessors">subprocessors listed on our subprocessors page</a> when providing community platforms on behalf of our customers. We may also share personal data with the service providers we use in order to transact with customers, host our website, deliver content, secure our services, store data, host and manage our open source project, market our services, and provide customer support. These service providers include:</p>

      <ul>
        <li><a href="https://aws.amazon.com/privacy/">Amazon Web Services</a>, for storage</li>
        <li><a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">GitHub</a>, for open source development</li>
        <li><a href="https://policies.google.com/privacy">Google</a>, for analytics and storage</li>
        <li><a href="https://stripe.com/privacy">Stripe</a>, for processing payments</li>
      </ul>

      <p><a id="heading--contact"></a></p>
      <h2 id="how-can-i-contact-bts-about-privacy">How can I contact BTS about privacy?</h2>

      <p>You can send questions, requests, and complaints to:</p>

      <p>Better Together Solutions
      <a href="mailto:privacy@bettertogethersolutions.com">privacy@bettertogethersolutions.com</a></p>

      <p>European Users with questions or complaints about GDPR compliance should also contact the above email address.</p>

      <p>For complaints under GDPR, European Union users may lodge complaints with their local data protection supervisory authorities.</p>

      <p><a id="heading--changes"></a></p>
      <h2 id="how-can-i-find-out-about-changes">How can I find out about changes?</h2>

      <p>This version of BTS’s privacy questions and answers took effect November 30th, 2023.</p>

      <p>BTS will post the next version at <a href="https://communityengine.app/privacy">https://communityengine.app/privacy</a>. BTS may change how it announces changes in future versions.</p>

      <p>In the meantime, BTS may update <a href="#heading--contact">its contact information</a> without announcing a change. Please refer to <a href="https://communityengine.app/privacy">https://communityengine.app/privacy</a> for the latest contact information at any time.</p>

    </div>
  </div>
</div>