<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col">
      <h1 id="subprocessors">Subprocessors</h1>

      <p>BTS uses the following subprocessors to host Community Platforms for customers, as well as <a href="/privacy#heading--cdck">its own Community Platforms</a>.</p>

      <div class="hscroll">
        <table class="subprocessors">
          <thead>
            <tr>
              <th>Subprocessor</th>
              <th>Service</th>
              <th>Function</th>
              <th>Processing</th>
              <th>Links</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
                <td>
                  <a href="https://www.google.com/">Google</a><br>
                  (USA)
                </td>
                <td>
                  <a href="https://analytics.google.com">Google Analytics</a>
                </td>
                <td>
                  
                    <em>for <a href="https://communityengine.app">communityengine.app</a> and Community Platforms enabling Google Analytics in settings:</em>
                  
                  compiles visitor statistics
                  
                    <br>Community Platform visitors can opt out using a browser extension.
                  
                </td>
                <td>
                  
                  USA
                  
                </td>
                <td>
                  
                  <a href="https://www.google.com/analytics/terms/">Privacy Notice</a>
                  
                </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <p>This list was last updated November 30th, 2023.</p>
    </div>
  </div>
</div>