
<h1>Terms of Service</h1>
<p>These terms govern use of the community platform at <a href="https://communityengine.app">https://communityengine.app</a>.  To use the community platform, you must agree to these terms with Better Together Solutions, the company that runs the community platform.</p>
<p>The company may offer other products and services, under different terms.  These terms apply only to use of the community platform.</p>
<p>Skip to:</p>
<ul>
<li><a href="#heading--important-terms">Important Terms</a></li>
<li><a href="#heading--permission">Your Permission to Use the Community Platform</a></li>
<li><a href="#heading--conditions">Conditions for Use of the Community Platform</a></li>
<li><a href="#heading--acceptable-use">Acceptable Use</a></li>
<li><a href="#heading--content-standards">Content Standards</a></li>
<li><a href="#heading--enforcement">Enforcement</a></li>
<li><a href="#heading--your-account">Your Account</a></li>
<li><a href="#heading--your-content">Your Content</a></li>
<li><a href="#heading--responsibility">Your Responsibility</a></li>
<li><a href="#heading--disclaimers">Disclaimers</a></li>
<li><a href="#heading--liability">Limits on Liability</a></li>
<li><a href="#heading--feedback">Feedback</a></li>
<li><a href="#heading--termination">Termination</a></li>
<li><a href="#heading--disputes">Disputes</a></li>
<li><a href="#heading--general">General Terms</a></li>
<li><a href="#heading--contact">Contact</a></li>
<li><a href="#heading--changes">Changes</a></li>
</ul>
<h2 id="heading--important-terms"><a href="#heading--important-terms">Important Terms</a></h2>
<p><em><strong>These terms include a number of important provisions that affect your rights and responsibilities, such as the disclaimers in <a href="#heading--disclaimers">Disclaimers</a>, limits on the company’s liability to you in <a href="#heading--liability">Limits on Liability</a>, your agreement to cover the company for damages caused by your misuse of the community platform in <a href="#heading--responsibility">Responsibility for Your Use</a>, and an agreement to arbitrate disputes in <a href="#heading--disputes">Disputes</a>.</strong></em></p>
<h2 id="heading--permission"><a href="#heading--permission">Your Permission to Use the Community Platform</a></h2>
<p>Subject to these terms, the company gives you permission to use the community platform.  Everyone needs to agree to these terms to use the community platform.</p>
<h2 id="heading--conditions"><a href="#heading--conditions">Conditions for Use of the Community Platform</a></h2>
<p>Your permission to use the community platform is subject to the following conditions:</p>
<ol>
<li>
<p>You must be at least thirteen years old.</p>
</li>
<li>
<p>You may no longer use the community platform if the company contacts you directly to say that you may not.</p>
</li>
<li>
<p>You must use the community platform in accordance with <a href="#heading--acceptable-use">Acceptable Use</a> and <a href="#heading--content-standards">Content Standards</a>.</p>
</li>
</ol>
<h2 id="heading--acceptable-use"><a href="#heading--acceptable-use">Acceptable Use</a></h2>
<ol>
<li>
<p>You may not break the law using the community platform.</p>
</li>
<li>
<p>You may not use or try to use another’s account on the community platform without their specific permission.</p>
</li>
<li>
<p>You may not buy, sell, or otherwise trade in user names or other unique identifiers on the community platform.</p>
</li>
<li>
<p>You may not send advertisements, chain letters, or other solicitations through the community platform, or use the community platform to gather<br>
addresses or other personal data for commercial mailing lists or databases.</p>
</li>
<li>
<p>You may not automate access to the community platform, or monitor the community platform, such as with a web crawler, browser plug-in or add-on, or other computer program that is not a web browser.  You may crawl the community platform to index it for a publicly available search engine, if you run one.</p>
</li>
<li>
<p>You may not use the community platform to send e-mail to distribution lists, newsgroups, or group mail aliases.</p>
</li>
<li>
<p>You may not falsely imply that you’re affiliated with or endorsed by the company.</p>
</li>
<li>
<p>You may not hyperlink to images or other non-hypertext content on the community platform on other webpages.</p>
</li>
<li>
<p>You may not remove any marks showing proprietary ownership from materials you download from the community platform.</p>
</li>
<li>
<p>You may not show any part of the community platform on other websites with <code>&lt;iframe&gt;</code>.</p>
</li>
<li>
<p>You may not disable, avoid, or circumvent any security or access restrictions of the community platform.</p>
</li>
<li>
<p>You may not strain infrastructure of the community platform with an unreasonable volume of requests, or requests designed to impose an unreasonable load on information systems underlying the community platform.</p>
</li>
<li>
<p>You may not impersonate others through the community platform.</p>
</li>
<li>
<p>You may not encourage or help anyone in violation of these terms.</p>
</li>
</ol>
<h2 id="heading--content-standards"><a href="#heading--content-standards">Content Standards</a></h2>
<ol>
<li>
<p>You may not submit content to the community platform that is illegal, offensive, or otherwise harmful to others.  This includes content that is harassing, inappropriate, or abusive.</p>
</li>
<li>
<p>You may not submit content to the community platform that violates the law, infringes anyone’s intellectual property rights, violates anyone’s privacy, or breaches agreements you have with others.</p>
</li>
<li>
<p>You may not submit content to the community platform containing malicious computer code, such as computer viruses or spyware.</p>
</li>
<li>
<p>You may not submit content to the community platform as a mere placeholder, to hold a particular address, user name, or other unique identifier.</p>
</li>
<li>
<p>You may not use the community platform to disclose information that you don’t have the right to disclose, like others’ confidential or personal information.</p>
</li>
</ol>
<h2 id="heading--enforcement"><a href="#heading--enforcement">Enforcement</a></h2>
<p>The company may investigate and prosecute violations of these terms to the fullest legal extent.  The company may notify and cooperate with law enforcement authorities in prosecuting violations of the law and these terms.</p>
<p>The company reserves the right to change, redact, and delete content on the community platform for any reason.  If you believe someone has submitted content to the community platform in violation of these terms, <a href="#heading--contact">contact us immediately</a>.</p>
<h2 id="heading--your-account"><a href="#heading--your-account">Your Account</a></h2>
<p>You must create and log into an account to use some features of the community platform.</p>
<p>To create an account, you must provide some information about yourself.  If you create an account, you agree to provide, at a minimum, a valid e-mail address, and to keep that address up-to-date.  You may close your account at any time by e-mailing <a href="mailto:community@bettertogethersolutions.com">community@bettertogethersolutions.com</a>.</p>
<p>You agree to be responsible for all action taken using your account, whether authorized by you or not, until you either close your account or notify the company that your account has been compromised.  You agree to notify the company immediately if you suspect your account has been compromised.  You agree to select a secure password for your account, and keep it secret.</p>
<p>The company may restrict, suspend, or close your account on the community platform according to its policy for handling copyright-related takedown requests, or if the company reasonably believes that you’ve broken any rule in these terms.</p>
<h2 id="heading--your-content"><a href="#heading--your-content">Your Content</a></h2>
<p>Nothing in these terms gives the company any ownership rights in intellectual property that you share with the community platform, such as your account information, posts, or other content you submit to the community platform.  Nothing in these terms gives you any ownership rights in the company’s intellectual property, either.</p>
<p>Between you and the company, you remain solely responsible for content you submit to the community platform.  You agree not to wrongly imply that content you submit to the community platform is sponsored or approved by the company.  These terms do not obligate the company to store, maintain, or provide copies of content you submit, and to change it, according to these terms.</p>
<p>Content you submit to the community platform belongs to you, and you decide what permission to give others for it.  But at a minimum, you license the company to provide content that you submit to the community platform to other users of the community platform.  That special license allows the company to copy, publish, and analyze content you submit to the community platform.</p>
<p>When content you submit is removed from the community platform, whether by you or by the company, the company’s special license ends when the last copy disappears from the company’s backups, caches, and other systems.  Other licenses you apply to content you submit, such as <a href="https://creativecommons.org">Creative Commons</a> licenses, may continue after your content is removed.  Those licenses may give others, or the company itself, the right to share your content through the community platform again.</p>
<p>Others who receive content you submit to the community platform may violate the terms on which you license your content.  You agree that the company will not be liable to you for those violations or their consequences.</p>
<h2 id="heading--responsibility"><a href="#heading--responsibility">Your Responsibility</a></h2>
<p>You agree to indemnify the company from legal claims by others related to your breach of these terms, or breach of these terms by others using your account on the community platform.  Both you and the company agree to notify the other side of any legal claims for which you might have to indemnify the company as soon as possible.  If the company fails to notify you of a legal claim promptly, you won’t have to indemnify the company for damages that you could have defended against or mitigated with prompt notice.  You agree to allow the company to control investigation, defense, and settlement of legal claims for which you would have to indemnify the company, and to cooperate with those efforts.  The company agrees not to agree to any settlement that admits fault for you or imposes obligations on you without your prior agreement.</p>
<h2 id="heading--disclaimers"><a href="#heading--disclaimers">Disclaimers</a></h2>
<p><em><strong>You accept all risk of using the community platform and content on the community platform.  As far as the law allows, the company and its suppliers provide the community platform as is, without any warranty whatsoever.</strong></em></p>
<p>The community platform may hyperlink to and integrate community platforms and services run by others.  The company does not make any warranty about services run by others, or content they may provide.  Use of services run by others may be governed by other terms between you and the one running service.</p>
<h2 id="heading--liability"><a href="#heading--liability">Limits on Liability</a></h2>
<p><em><strong>Neither the company nor its suppliers will be liable to you for breach-of-contract damages their personnel could not have reasonably foreseen when you agreed to these terms.</strong></em></p>
<p><em><strong>As far as the law allows, the total liability to you for claims of any kind that are related to the community platform or content on the community platform will be limited to $50.</strong></em></p>
<h2 id="heading--feedback"><a href="#heading--feedback">Feedback</a></h2>
<p>The company welcomes your feedback and suggestions for the community platform.  See the <a href="#heading--contact">Contact</a> section below for ways to get in touch with us.</p>
<p>You agree that the company will be free to act on feedback and suggestions you provide, and that the company won’t have to notify you that your feedback was used, get your permission to use it, or pay you.  You agree not to submit feedback or suggestions that you believe might be confidential or proprietary, to you or others.</p>
<h2 id="heading--termination"><a href="#heading--termination">Termination</a></h2>
<p>Either you or the company may end the agreement written out in these terms at any time.  When our agreement ends, your permission to use the community platform also ends.</p>
<p>The following provisions survive the end of our agreement: <a href="#heading--your-content">Your Content</a>, <a href="#heading--feedback">Feedback</a>, <a href="#heading--responsibility">Your Responsibility</a>, <a href="#heading--disclaimers">Disclaimers</a>, <a href="#heading--liability">Limits on Liability</a>, and <a href="#heading--general">General Terms</a>.</p>
<h2 id="heading--disputes"><a href="#heading--disputes">Disputes</a></h2>
<p>Newfoundland and Labrador Law will govern any dispute related to these terms or your use of the community platform.</p>
<p>You and the company agree to seek injunctions related to these terms only in state or federal court in St. John's, Newfoundland and Labrador.  Neither you nor the company will object to jurisdiction, community platform, or venue in those courts.</p>
<p><em><strong>Other than to seek an injunction or for claims under whichever Computer Fraud and Abuse law has jurisdiction in Newfoundland and Labrador, you and the company will resolve any Dispute by binding arbitration.  Arbitration will follow Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes.  Arbitration will happen in St. John's, Newfoundland and Labrador.  You will settle any dispute as an individual, and not as part of a class action or other representative proceeding, whether as the plaintiff or a class member.  No arbitrator will consolidate any dispute with any other arbitration without the company’s permission.</strong></em></p>
<p>Any arbitration award will include costs of the arbitration, reasonable attorneys’ fees, and reasonable costs for witnesses.  You and the company may enter arbitration awards in any court with jurisdiction.</p>
<h2 id="heading--general"><a href="#heading--general">General Terms</a></h2>
<p>If a provision of these terms is unenforceable as written, but could be changed to make it enforceable, that provision should be modified to the minimum extent necessary to make it enforceable.  Otherwise, that provision should be removed.</p>
<p>You may not assign your agreement with the company.  The company may assign your agreement to any affiliate of the company, any other company that obtains control of the company, or any other company that buys assets of the company related to the community platform.  Any attempted assignment against these terms has no legal effect.</p>
<p>Neither the exercise of any right under this Agreement, nor waiver of any breach of this Agreement, waives any other breach of this Agreement.</p>
<p>These terms embody all the terms of agreement between you and the company about use of the community platform.  These terms entirely replace any other agreements about your use of the community platform, written or not.</p>
<h2 id="heading--contact"><a href="#heading--contact">Contact</a></h2>
<p>You may notify the company under these terms, and send questions to the company, at <a href="mailto:community@bettertogethersolutions.com">community@bettertogethersolutions.com</a>.</p>
<p>The company may notify you under these terms using the e-mail address you provide for your account on the community platform, or by posting a message to the homepage of the community platform or your account page.</p>
<h2 id="heading--changes"><a href="#heading--changes">Changes</a></h2>
<p>The company last updated these terms on November 30th, 2023, and may update these terms again.  The company will post all updates to the community platform.  For updates that contain substantial changes, the company agrees to e-mail you, if you’ve created an account and provided a valid e-mail address.  The company may also announce updates with special messages or alerts on the community platform.</p>
<p>Once you get notice of an update to these terms, you must agree to the new terms in order to keep using the community platform.</p>
