<%= form_with(model: geography_settlement) do |form| %>
  <% if geography_settlement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(geography_settlement.errors.count, "error") %> prohibited this geography_settlement from being saved:</h2>

      <ul>
        <% geography_settlement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
