<h1>Editing settlement</h1>

<%= render "form", geography_settlement: @geography_settlement %>

<br>

<div>
  <%= link_to "Show this settlement", @geography_settlement %> |
  <%= link_to "Back to settlements", geography_settlements_path %>
</div>
