<div class="container my-3">
  <h1 class="mb-4">Editing User</h1>

  <div id="form_errors"></div>
  <%= render "form", user: @user %>

  <div class="mt-3">
    <% if policy(@user).show? %>
      <%= link_to "Show this User", @user, class: "btn btn-secondary me-2" %>
    <% end %>
    <% if policy(::BetterTogether::User).index? %>
      <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
