<% content_for :page_title do %>
  <%= ::BetterTogether::User.model_name.human.pluralize(2, I18n.locale) %>
<% end %>

<div class="container my-3">
  <h1><%= ::BetterTogether::User.model_name.human.pluralize(2, I18n.locale) %></h1>
  <% if policy(::BetterTogether::User.new).create? %>
    <%= link_to 'New User', new_user_path, class: 'btn btn-success' %>
  <% end %>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'user', collection: @users, as: :user %>
        </tbody>
      </table>
    </div>
  </div>
</div>
