<p style="color: green"><%= notice %></p>

<h1>OAuth Integrations</h1>

<div id="person_platform_integrations">
  <% @person_platform_integrations.each do |person_platform_integration| %>
    <%= render person_platform_integration %>
    <p>
      <%= link_to "Show this integration", better_together.person_platform_integration_path(person_platform_integration, locale: I18n.locale) %>
    </p>
  <% end %>
</div>

<%= link_to "New OAuth integration", better_together.new_person_platform_integration_path(locale: I18n.locale) %>
