<h1>New authorization</h1>

<%= render "form", person_platform_integration: @person_platform_integration %>

<br>

<div>
  <%= link_to "Back to authorizations", person_platform_integrations_path %>
</div>
