<% content_for :page_title do %>
  <%= t('.page_title', default: 'Edit Short Link') %>
<% end %>

<div class="container my-3">
  <h1><%= t('.page_title', default: 'Edit Short Link') %></h1>
  <%= render 'form', short_link: @short_link %>
</div>
