<% content_for :page_title do %>
  Roles
<% end %>

<div class="container my-3">
  <h1>Roles</h1>
  <% if policy(::BetterTogether::Role.new).create? %>
    <%= link_to 'New Role', new_role_path, class: 'btn btn-success' %>
  <% end %>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Description</th>
            <th>Resource Type</th>
            <th>Position</th>
            <th>Protected</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'role', collection: @roles, as: :role %>
        </tbody>
      </table>
    </div>
  </div>
</div>
