<!-- app/views/better_together/checklists/new.html.erb -->

<% content_for :page_title do %>
	<%= t('better_together.checklists.new.title', default: 'New Checklist') %>
<% end %>

<div class="container my-3">
	<h1 class="mb-3"><%= t('better_together.checklists.new.title', default: 'New Checklist') %></h1>

	<%= render partial: 'form' %>
</div>
