
<% content_for :page_title do %>
  <%= t('better_together.joatu.offers.new_offer', default: 'New Offer') %>
<% end %>

<%= render 'better_together/joatu/shared/exchange_nav' %>

<div class="container my-3">
  <h1><%= t('better_together.joatu.offers.new_offer', default: 'New Offer') %></h1>

  <%= render 'form', joatu_offer: @joatu_offer || @offer %>
 </div>
