<!-- app/views/messages/_message.html.erb -->

<%# locals: (message:, me: message.sender == current_person) %>

<div class="<%= dom_class(message, :simple) %> message-container my-3 d-flex justify-content-between">
  <div class="message-header d-flex">
    <strong class="me-2"><%= message.sender.name %></strong>
    <small class="text-muted"><%= l(message.created_at, format: :short) %></small>
  </div>
  <div class="message-content">
    <%= message.content.to_plain_text %>
  </div>
</div>
