<h1>Editing country</h1>

<div id="form_errors"></div>
<%= render "form", geography_country: @geography_country %>

<br>

<div>
  <%= link_to "Show this country", @geography_country %> |
  <%= link_to "Back to countries", geography_countries_path %>
</div>
