
<%# locals: (form:, primary_flag_scope: nil) %>
<div class="form-check form-switch" data-controller="better_together--toggle-primary-flag">
  <%= form.check_box :primary_flag, class: 'form-check-input primary-switch', data: { action: 'click->better_together--toggle-primary-flag#toggle' }, 'data-better_together--toggle-primary-flag-target' => 'checkbox' %>
  <%= form.label :primary_flag, t('better_together.primary'), checked: form.object.class.has_primary_for(primary_flag_scope), class: 'form-check-label' %>
</div>