<div class="contactable-phone-numbers row">
  <% phone_numbers.each do |phone_number| %>
    <div class="col-md-6 mb-3 contact-detail-item">
      <div class="d-flex align-items-center">
        <i class="fas fa-phone mr-2 icon"></i>
        <div class="content">
          <strong><a class="text-decoration-none" href="tel:<%= phone_number.number %>"><%= phone_number.number %></a></strong>
          <% if phone_number.label.present? %>
            <span class="badge text-bg-info"><%= phone_number.display_label %></span>
          <% end %>
          <% if phone_number.primary_flag? && phone_numbers.size > 1 %>
            <span class="badge text-bg-primary"><%= t('better_together.primary') %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
