<h1>New region settlement</h1>

<%= render "form", geography_region_settlement: @geography_region_settlement %>

<br>

<div>
  <%= link_to "Back to region settlements", geography_region_settlements_path %>
</div>
