<div class="container my-3">
  <h1 class="mb-4">Editing Platform</h1>

  <%= render "form", platform: @platform %>

  <div class="mt-3">
      <% if policy(@platform).show? %>
        <%= link_to "Show this Platform", [:host, @platform], class: "btn btn-secondary me-2" %>
      <% end %>
      <% if policy(::BetterTogether::Platform).index? %>
        <%= link_to "Back to Platforms", host_platforms_path, class: "btn btn-secondary" %>
      <% end %>
  </div>
</div>
