<% content_for :page_title do %>
  Platforms
<% end %>

<div class="container mt-3">
  <h1>Platforms</h1>

  <% if policy(::BetterTogether::Platform.new).create? %>  <!-- Update policy object if needed -->
    <%# link_to 'New Platform', new_platform_path, class: 'btn btn-success' %>
  <% end %>
  
  <div class="row">
    <div class="col table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Description</th>
            <th>Slug</th>
            <th>URL</th>
            <th>Time Zone</th>
            <th>Privacy</th>
            <th>Protected</th>
            <th>Host</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'better_together/platforms/platform', collection: @platforms %>
        </tbody>
      </table>
    </div>
  </div>
</div>
