<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
-%>
<li class="page-item disabled">
  <span class="page-link" aria-hidden="true">
    <%= t('views.pagination.truncate') %>
  </span>
</li>