<!-- app/views/errors/404.html.erb -->
<% content_for :page_title do %>
  <%= t('errors.not_found.title') %>
<% end %>
<div class="container mt-4">
  <h1><%= t('errors.not_found.title') %></h1>
  <p><%= t('errors.not_found.description') %></p>
  <p><%= link_to t('views.buttons.go_home'), home_page_path, class: 'btn btn-primary' %></p>
</div>
