<!-- app/views/errors/500.html.erb -->
<div class="container mt-4">
  <h1>500 - Internal Server Error</h1>
  <p>We're sorry, but something went wrong on our end.</p>
  <p><%= link_to 'Go to Home', main_app.root_path, class: 'btn btn-primary' %></p>
</div>
