<%# locals: (hosts:) %>

<h3><%= t('better_together.events.hosted_by') %></h3>

<% hosts.each do |host| %>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		<%= render host.host %>
	</div>
<% end %>