<div id="<%= dom_id resource_permission %>">
  <p>
    <strong>Action:</strong>
    <%= resource_permission.action %>
  </p>

  <p>
    <strong>Resource class:</strong>
    <%= resource_permission.resource_class %>
  </p>

</div>
