<h1>Editing resource permission</h1>

<%= render "form", resource_permission: @resource_permission %>

<br>

<div>
  <%= link_to "Show this resource permission", @resource_permission %> |
  <%= link_to "Back to resource permissions", resource_permissions_path %>
</div>
