<div class="container mt-3">
  <h1>Resource Permissions</h1>
  <% if policy(BetterTogether::ResourcePermission.new).create? %>
    <%= link_to 'New Resource Permission', new_resource_permission_path, class: 'btn btn-success' %>
  <% end %>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Action</th>
            <th>Target</th>
            <th>Resource Type</th>
            <th>Position</th>
            <th>Protected</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @resource_permissions.each do |resource_permission| %>
            <%= render 'resource_permission', resource_permission: resource_permission %>
          <% end %>
        </tbody>
      </table>
      <% if policy(BetterTogether::ResourcePermission.new).create? %>
        <%= link_to 'New Resource Permission', new_resource_permission_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
