<div class="container my-3">
  <h1 class="mb-4">New Resource Permission</h1>

  <%= render "form", resource_permission: @resource_permission %>

  <div class="mt-3">
      <%= link_to "Back to Resource Permissions", host_resource_permissions_path, class: "btn btn-secondary" %>
  </div>
</div>
