<p><%= t('better_together.notifications.c3.settlement.mailer.activity_header',
        amount: @tree_seeds_amount,
        default: '%{amount} Tree Seeds have activity on your agreement.') %></p>

<p><%= @event_copy %></p>

<p>
  <a href="<%= @agreement_url %>">
    <%= t('better_together.notifications.c3.settlement.mailer.view_agreement',
          default: 'View agreement') %>
  </a>
</p>
