<turbo-frame id="flash_messages" data-controller="better_together--flash">
  <!-- app/views/layouts/better_together/_flash_messages.html.erb -->
  <%# if flash.any? %>
    <div class="container">
      <div class="row">
        <div id="col-flash-message" class="col-md-12">
          <% flash.each do |type, message| %>
            <% alert_class = case type
               when 'notice' then 'alert-success'
               when 'alert' then 'alert-warning'
               when 'error' then 'alert-danger'
               when 'info' then 'alert-info'
               else 'alert-secondary'
               end %>
            <div
              class="alert <%= alert_class %> alert-dismissible fade show text-center"
              role="alert"
              data-better_together--flash-target="message">
              <%= message %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%# end %>
</turbo-frame>
