
<li class="nav-item dropdown">
  <%= link_to t("locales.#{I18n.locale}"), '#', class: "nav-link dropdown-toggle", id:"localeDropdownMenuLink", role:"button", 'data-bs-toggle': "dropdown", 'aria-expanded': "false" %>
  <ul class="dropdown-menu" aria-labelledby="localeDropdownMenuLink">
    <% I18n.available_locales.each do | locale | %>
      <li>
        <% begin %>
          <%= link_to t("locales.#{locale}"), params.permit(:locale).to_h.merge(locale: locale), class: "dropdown-item" %>
        <% rescue ActionController::UrlGenerationError %>
          <%= link_to t("locales.#{locale}"), main_app.url_for(params.permit(:locale).to_h.merge(locale: locale)), class: "dropdown-item" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
