<!-- If user is signed in, show avatar and name -->
<li id="identity-nav-toggle" class="nav-item dropdown" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= t('navbar.user_nav_tooltip') %>">
  <a class="nav-link<%= ' active' if url_for(controller: params[:controller], action: params[:action]) === person_my_profile_path(person_id: current_person.slug) %>"  href="#profile" data-bs-toggle="collapse" data-bs-target="#bottom-nav" aria-expanded="false" aria-controls="bottom-nav">
    <span class="identity-name me-2"><%= current_identity.name %></span>
    <%# Display avatar and name inline %>
    <%= profile_image_tag(current_identity, class: 'user-nav') %>
  </a>
</li>