<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : 'Community Engine' %> | Better Together</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body>
    <h1>Community Engine</h1>
    <nav class="nav">
      <ul>
        <li>Groups</li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
