<% content_for :page_title do %>
  Edit <%= @resource.name %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container mt-5">
  <h1 class="mb-4">Edit Call For Interest</h1>
  <%= render 'form', call_for_interest: @call_for_interest %>
</div>