<!-- app/views/conversations/_conversation.html.erb -->

<%# locals: (conversation:, last_message: conversation.messages.last) %>

<%= render 'better_together/shared/card', entity: conversation, show_image: false, col_classes: 'col', title_classes: 'text-center', card_classes: "hover-effect #{'active' if conversation == @conversation}" do %>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="conversation-participants d-flex align-items-top justify-content-evenly overflow-auto">
      <%= render partial: 'better_together/people/mention', collection: conversation.participants, as: :person, locals: { flex_layout: 'flex-column', flex_align_items: 'center' } %>
    </div>
    <div class="last-message bg-info-subtle p-2 rounded-2">
      <%= last_message ? render(partial: 'better_together/messages/message_simple', locals: { message: last_message }) : render(partial: 'better_together/conversations/empty') %>
    </div>
  </div>
<% end %>

