<div class="container mt-5">
  <div class="row">
    <!-- Sidebar for Conversations List -->
    <%= content_tag :div, id: "conversations_sidebar", class: 'col-md-4 col-lg-3 mb-4' do %>
      <%= render 'better_together/conversations/sidebar' %>
    <% end %>

    <!-- Main Content Pane -->
    <%= content_tag :div, id: "conversation_content", class: 'col-md-8 col-lg-9' do %>
      <div class="conversation-messages card shadow-sm">
        <%= yield %> <!-- This will render the specific content from the index or show views -->
      </div>
    <% end %>
  </div>
</div>
