<%= render layout: 'communicator' do %>
	<div id="new_conversation_form" class="conversation-messages card shadow-sm">
		<div class="card-header rounded-0 bg-primary text-white">
			<h6 class="mb-0">
				<%= t('.new_conversation') %>
			</h6>
		</div>

		<div class="card-body">
			<%= render "form" , conversation: @conversation %>
		</div>
	</div>
	<% end %>