<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New person community membership</h1>

  <%= render "form", person_community_membership: @person_community_membership %>

  <%= link_to "Back to person community memberships", person_community_memberships_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
