<% content_for :page_title do %>
  <%= BetterTogether::Joatu::Agreement.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <h1 class="mb-3"><%= t('better_together.joatu.agreements.index.title', default: 'Agreements') %></h1>
  <ul class="list-group">
    <% @agreements.each do |agreement| %>
      <li class="list-group-item">
        <%= link_to "#{agreement.offer.name} ↔ #{agreement.request.name}", joatu_agreement_path(agreement) %>
        <span class="badge bg-secondary float-end"><%= agreement.status %></span>
      </li>
    <% end %>
  </ul>
</div>

