/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 @import 'font-awesome';

 /* Default text color for light mode */
 .text-opposite-theme {
  color: #333; /* dark text on light background */
}

/* When the user's system preference is dark mode, adjust text color */
@media (prefers-color-scheme: dark) {
  .text-opposite-theme {
    color: #f8f9fa; /* light text on dark background */
  }
}

/* Similarly, if the background is meant to be dark, you can set text to be light and vice versa */
/* Default background color for light mode with dark text */
.background-opposite-theme {
  background-color: #fff;
  color: #333;
}

/* When the user's system preference is dark mode, adjust background and text color */
@media (prefers-color-scheme: dark) {
  .background-opposite-theme {
    background-color: #212529;
    color: #f8f9fa;
  }
}

span.translation_missing {
  background: #e1b1ed;
}