
.page-block-fields {
  background-color: #f8f9fa; /* Light background color */
  padding: 1rem;
  border: 1px solid #e9ecef;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  .image-fields {
    transition: height 0.4s ease; /* Adjust duration as needed */
    overflow: hidden; /* Hide content that overflows during the transition */
  }
  
  .image-fields.expanded {
    height: auto; /* Let the container expand to fit its content */
  }
  
}

.page-block-fields:hover {
  background-color: #e9ecef; /* Highlight on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for focus */
  border-color: #adb5bd; /* Darken the border on hover */
}

.content-block.content_hero {
  position: relative;
  padding: 100px 0; /* Adjust padding for spacing */
  overflow: hidden; /* Ensure content doesn't overflow */
  height: calc(100vh - 56px);

  .hero-background {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0; /* Set background behind overlay */
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */

    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; /* Set overlay above background */
    }
    
    .hero-content {
      position: relative;
      z-index: 2; /* Ensure content is above overlay */
      max-width: 80%; /* Adjust as needed */
      margin: 0 auto;
      text-align: center; /* Center text by default */
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      > * {
        margin: 3vh auto;
      }

      .hero-heading {
        font-size: 3em; /* Make the heading more prominent */
      }
      
      .hero-paragraph {
        font-size: 1.2em;
      }
      
      .hero-cta {
        padding: 12px 24px;
        font-size: 1.2em;
      }
    }
  }
}

