
#devise-links {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.devise-link {
  text-decoration: none;
  margin-top: 1rem;
}