@import "bootstrap/functions";
@import "bootstrap/mixins";
@import "bootstrap/variables";

// Define default color variables (if not overridden by the host app)
$text-opposite-theme-color: #333 !default;
$background-opposite-theme-color: #fff !default;
$dark-text-color: #f8f9fa !default;
$dark-background-color: #212529 !default;
$light-background-text-color: #222 !default;
$dark-background-text-color: #f0f0f0 !default;
$light-background-active-text-color: lighten($light-background-text-color, 20%) !default;
$dark-background-active-text-color: darken($dark-background-text-color, 20%) !default;

/* Define SCSS variables for common color properties */
$slider-track-color: $secondary !default;
$slider-track-height: 6px !default;
$slider-thumb-border-color: $primary !default;
$slider-thumb-color: $light !default;
$slider-thumb-size: 15px !default;
$slider-thumb-border-size: 2px !default;

:root {
  --ss-main-height: 38px;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(33, 37, 41, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bt-navbar-toggler-icon-bg: var(--bs-navbar-toggler-icon-bg);
}

.navbar-brand {
  --bs-navbar-brand-color: $light-background-text-color;

  &:hover, &:focus {
    --bs-navbar-brand-hover-color: lighten($light-background-text-color, 10%);
  }

  img {
    max-width: 70vw;

    @include media-breakpoint-up(sm) {
      max-width: 40vw;
    }

    @include media-breakpoint-up(md) {
      max-width: 30vw;
    }

    @include media-breakpoint-up(lg) {
      max-width: 20vw;
    }

    @include media-breakpoint-up(xl) {
      max-width: 15vw;
    }
  }
}

.mailer {
  .navbar-brand {
    img {
      max-width: 50vw
    }
  }
}

.nav-link {
  --bs-nav-link-color: $light-background-text-color;

  &.show, &.active {
    --bs-navbar-active-color: lighten($light-background-text-color, 10%);
  }

  &:hover, &:focus {
    --bs-nav-link-hover-color: lighten($light-background-text-color, 10%);
  }
}

.bt-underline-nav {
  --bt-nav-underline-width: 2px;
  --bt-nav-underline-color: currentColor;
  --bt-nav-underline-offset: 4px;
  --bt-nav-underline-hover-opacity: 0.8;
  --bt-nav-underline-active-opacity: 1;

  .nav-link {
    border-bottom: var(--bt-nav-underline-width) solid transparent;
    transition: border-color 0.2s ease;
    padding-bottom: var(--bt-nav-underline-offset);
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom-color: var(--bt-nav-underline-color);
    opacity: var(--bt-nav-underline-hover-opacity);
  }

  .nav-link.active {
    border-bottom-color: var(--bt-nav-underline-color);
    opacity: var(--bt-nav-underline-active-opacity);
  }

  .bt-mobile-nav-link {
    color: var(--bt-mobile-nav-color, currentColor);
  }

  .bt-mobile-nav-link:hover,
  .bt-mobile-nav-link:focus {
    color: var(--bt-mobile-nav-hover-color, currentColor);
  }
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
}

.navbar-toggler {
  color: var(--bt-navbar-toggler-color, #212529);
}

.dropdown-item {
  --bs-dropdown-link-color: $light-background-text-color;
}

.host_community_logo {
  max-height: 5vh;
}

.navigation {
  --bs-navbar-padding-x: 0.5rem;
  --bs-navbar-padding-y: 0.5rem;
}
