// New to NL colour palette
$blue-1: #004BA8;
$blue-2: #3E78B2;
$beige:  #EAF0CE;
$teal:  #5a8f9b;
$beige-light: lighten($beige, 10%);
$green-2: #70A288;
$green-1: #42b983; // variant

// Override the color variables in the host application
$primary: $green-1; /* Change to a different blue */
$secondary: $green-2; /* Change to a different green */
$success: $green-2;
$info: $green-1;
$warning: #C9B947;
$danger: #BF4A47;
$text-opposite-theme-color: #222; /* Darker text */
$background-opposite-theme-color: #f0f0f0; /* Lighter background */
$light-background-text-color: #222;
$dark-background-text-color: #f0f0f0;

// Define default color variables (if not overridden by the host app)
$text-opposite-theme-color: #333 !default;
$background-opposite-theme-color: #fff !default;
$dark-text-color: #f8f9fa !default;
$dark-background-color: #212529 !default;
$light-background-text-color: #222 !default;
$dark-background-text-color: #f0f0f0 !default;
$light-background-active-text-color: lighten($light-background-text-color, 20%) !default;
$dark-background-active-text-color: darken($dark-background-text-color, 20%) !default;


/* Define SCSS variables for common color properties */
$slider-track-color: $secondary !default;
$slider-track-height: 6px !default;
$slider-thumb-border-color: $primary !default;
$slider-thumb-color: $dark-text-color !default;
$slider-thumb-size: 15px !default;
$slider-thumb-border-size: 2px !default;

@import "bootstrap/functions";
@import "bootstrap/variables";

:root {
  --ss-main-height: 38px;
}

.navbar-brand {
  // --bs-navbar-brand-color: $light-background-text-color;

  &:hover, &:focus {
    --bs-navbar-brand-hover-color: #42b983;
  }
}

.nav-link {
  // --bs-nav-link-color: $light-background-text-color;

  &.show, &.active {
    --bs-navbar-active-color: #42b983;
  }

  &:hover, &:focus {
    --bs-nav-link-hover-color: #42b983;
  }
}

.host_community_logo {
  max-height: 5vh;
}

.navigation {
  --bs-navbar-padding-x: 0.5rem;
  --bs-navbar-padding-y: 0.5rem;
}