
<%# locals: (contactable:, include_heading: true) %>

<% if contactable.has_contact_details? %>
  <div class="contacts">
    <% if include_heading %>
      <h4><%= t('better_together.contact_details.contact_information') %></h4>
    <% end %>
    <div class="row">
      <%= render_contacts(contactable) %>
    </div>
  </div>
<% end %>
