<!-- app/views/better_together/joatu_mailer/agreement_created.html.erb -->

<p><%= t('.greeting', recipient_name: @recipient.name) %></p>

<p><%= t('.message_intro', offer_name: @offer.name, request_name: @request.name) %></p>

<p><%= t('.signature_html', platform: @platform.name) %></p>
