<!-- app/views/better_together/joatu_mailer/agreement_status_changed_rejected.html.erb -->

<p>Hello <%= @recipient.name %>,</p>

<p>Your agreement between <%= @agreement.offer.name %> and <%= @agreement.request.name %> has been rejected.</p>

<p>Best regards,<br />
The <%= @platform.name %> Team</p>
