<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to t('Confirm my account'), better_together.user_confirmation_url(@resource, confirmation_token: @token, redirect_url: message['redirect-url']).html_safe %></p>
