<h1>Editing calendar</h1>

<%= render "form", better_together_calendar: @calendar %>

<br>

<div>
  <%= link_to "Show this calendar", @calendar %> |
  <%= link_to "Back to calendars", better_together_calendars_path %>
</div>
