<!-- app/views/better_together/navigation_areas/edit.html.erb -->

<div class="container">
  <h1>Edit Navigation Area</h1>
  <%= render 'form', navigation_area: @navigation_area %>
  <%= link_to 'Back', navigation_areas_path, class: 'btn btn-secondary' %>
</div>
