<!-- app/views/better_together/navigation_areas/new.html.erb -->

<div class="container">
  <h1>New Navigation Area</h1>
  <%= render 'form', navigation_area: @navigation_area %>
  <%= link_to 'Back', navigation_areas_path, class: 'btn btn-secondary' %>
</div>
