<%# 
  Optimized device permissions partial that uses data attributes 
  instead of loading the entire translation dataset
-%>
<div data-controller="better-together--device-permissions"
     <%= translation_data_attrs(
           'better_together.device_permissions.status.granted',
           'better_together.device_permissions.status.denied', 
           'better_together.device_permissions.status.unknown',
           'better_together.device_permissions.location.denied',
           'better_together.device_permissions.location.enabled',
           'better_together.device_permissions.location.unsupported'
         ) %>
     class="device-permissions">
  
  <h3><%= t('better_together.device_permissions.title') %></h3>
  
  <div class="permission-item">
    <label><%= t('better_together.device_permissions.location.label') %></label>
    <div data-better-together--device-permissions-target="geolocationStatus" class="permission-status"></div>
    <button data-action="click->better-together--device-permissions#requestLocation" 
            class="btn btn-sm btn-outline-primary">
      <%= t('better_together.device_permissions.location.request') %>
    </button>
  </div>

  <!-- Other permission items... -->
</div>
