<%= form_with(model: geography_region) do |form| %>
  <% if geography_region.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(geography_region.errors.count, "error") %> prohibited this geography_region from being saved:</h2>

      <ul>
        <% geography_region.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
