<h1>Editing region</h1>

<div id="form_errors"></div>
<%= render "form", geography_region: @geography_region %>

<br>

<div>
  <%= link_to "Show this region", @geography_region %> |
  <%= link_to "Back to regions", geography_regions_path %>
</div>
