<h1>Editing state</h1>

<div id="form_errors"></div>
<%= render "form", geography_state: @geography_state %>

<br>

<div>
  <%= link_to "Show this state", @geography_state %> |
  <%= link_to "Back to states", geography_states_path %>
</div>
