
<% content_for :page_title do %>
  <%= t('globals.edit') %> <%= @resource.name %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container my-3">
  <h1 class="mb-4">Editing Community</h1>

  <%= render "form", community: @community %>
</div>
