<% content_for :page_title do %>
  <%= t('.title') %>
<% end %>

<div class="container my-3">
  <h1><%= t('.title') %></h1>

  <% if policy(::BetterTogether::Community.new).create? %>  <!-- Policy check for create permission -->
    <%= link_to t('.new-btn-text'), new_community_path, class: 'btn btn-primary' %>
  <% end %>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Description</th>
            <th>Slug</th>
            <th>Privacy</th>
            <th>Protected</th>
            <th>Host</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'better_together/communities/community', collection: @communities %>
        </tbody>
      </table>
    </div>
  </div>
</div>
